In [1]:
import pandas as pd 
import numpy as np 
import os
from datetime import datetime, timedelta
import random

In [2]:
base_dir = os.path.dirname(os.path.abspath('data Customer C.ipynb'))
credit_case_study_folder = os.path.join(base_dir, 'Credit_EDA_case_study')
application_file_name = 'application_data.csv'

credit_case_study_data = pd.read_csv(os.path.join(credit_case_study_folder,application_file_name))
credit_case_study_data.head(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.0,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.0,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
credit_case_study_data = credit_case_study_data[[
    'SK_ID_CURR', 'DAYS_BIRTH', 'CODE_GENDER', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'AMT_INCOME_TOTAL'
]]
credit_case_study_data.head(10)

,SK_ID_CURR,DAYS_BIRTH,CODE_GENDER,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,AMT_INCOME_TOTAL
0,100002,-9461,M,Secondary / secondary special,Single / not married,202500.0
1,100003,-16765,F,Higher education,Married,270000.0
2,100004,-19046,M,Secondary / secondary special,Single / not married,67500.0
3,100006,-19005,F,Secondary / secondary special,Civil marriage,135000.0
4,100007,-19932,M,Secondary / secondary special,Single / not married,121500.0
5,100008,-16941,M,Secondary / secondary special,Married,99000.0
6,100009,-13778,F,Higher education,Married,171000.0
7,100010,-18850,M,Higher education,Married,360000.0
8,100011,-20099,F,Secondary / secondary special,Married,112500.0
9,100012,-14469,M,Secondary / secondary special,Single / not married,135000.0

In [4]:
rename_dict = {
    'SK_ID_CURR' : 'Customer ID', 
    'DAYS_BIRTH': 'Customer Age', 
    'CODE_GENDER': 'Gender', 
    'NAME_EDUCATION_TYPE': 'Education', 
    'NAME_FAMILY_STATUS': 'Marital Status', 
    'AMT_INCOME_TOTAL': 'Income Category'
}

credit_case_study_data = credit_case_study_data.rename(columns=rename_dict)
credit_case_study_data.head(10)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category
0,100002,-9461,M,Secondary / secondary special,Single / not married,202500.0
1,100003,-16765,F,Higher education,Married,270000.0
2,100004,-19046,M,Secondary / secondary special,Single / not married,67500.0
3,100006,-19005,F,Secondary / secondary special,Civil marriage,135000.0
4,100007,-19932,M,Secondary / secondary special,Single / not married,121500.0
5,100008,-16941,M,Secondary / secondary special,Married,99000.0
6,100009,-13778,F,Higher education,Married,171000.0
7,100010,-18850,M,Higher education,Married,360000.0
8,100011,-20099,F,Secondary / secondary special,Married,112500.0
9,100012,-14469,M,Secondary / secondary special,Single / not married,135000.0

In [5]:
credit_case_study_data['Customer Age'] = abs(credit_case_study_data['Customer Age']/365).astype(int)

credit_case_study_data['Income Numeric'] = credit_case_study_data['Income Category']
income_bins = [0, 40000, 60000, 80000, 100000, 120000, float('inf')]  
income_labels = ['Less than $40k', '$40k - $60k', '$60k to $80k', '$80k to $100k', '$100k to $120k', '$120k+']
credit_case_study_data['Income Category'] = pd.cut(credit_case_study_data['Income Category'], bins=income_bins, labels=income_labels, right=False)

education_mapping = {
    'Academic degree': 'College',
    'Higher education': 'Graduate',
    'Incomplete higher': 'College',
    'Lower secondary': 'Junior High School',
    'Secondary / secondary special': 'High School'
}
credit_case_study_data['Education'] = credit_case_study_data['Education'].map(education_mapping)

Marital_mapping = {
    'Civil marriage': 'Married',
    'Married': 'Married',
    'Seperated': 'Divorced',
    'Single / not married': 'Single',
    'Widow': 'Divorced',
    'Unknown': 'Unknown'
}
credit_case_study_data['Marital Status'] = credit_case_study_data['Marital Status'].map(Marital_mapping)


credit_case_study_data.head(10)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric
0,100002,25,M,High School,Single,$120k+,202500.0
1,100003,45,F,Graduate,Married,$120k+,270000.0
2,100004,52,M,High School,Single,$60k to $80k,67500.0
3,100006,52,F,High School,Married,$120k+,135000.0
4,100007,54,M,High School,Single,$120k+,121500.0
5,100008,46,M,High School,Married,$80k to $100k,99000.0
6,100009,37,F,Graduate,Married,$120k+,171000.0
7,100010,51,M,Graduate,Married,$120k+,360000.0
8,100011,55,F,High School,Married,$100k to $120k,112500.0
9,100012,39,M,High School,Single,$120k+,135000.0

In [6]:
filtered_data = credit_case_study_data[
    (credit_case_study_data['Customer Age'] > 39) &
    (credit_case_study_data['Customer Age'] < 42) &
    (credit_case_study_data['Education'] == 'College') &
    (credit_case_study_data['Gender'] == 'M') &
    (credit_case_study_data['Marital Status'] == 'Single') &
    (credit_case_study_data['Income Category'] == '$120k+')
]

filtered_data.head(10)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric
1453,101708,40,M,College,Single,$120k+,189000.0
24767,128804,41,M,College,Single,$120k+,342000.0
102345,218813,41,M,College,Single,$120k+,180000.0
108526,225886,40,M,College,Single,$120k+,202500.0
117320,236054,40,M,College,Single,$120k+,225000.0
119835,238962,40,M,College,Single,$120k+,270000.0
191204,321698,40,M,College,Single,$120k+,315000.0
197859,329404,40,M,College,Single,$120k+,180000.0
224732,360297,40,M,College,Single,$120k+,225000.0
238445,376151,41,M,College,Single,$120k+,202500.0

In [7]:
customerE = credit_case_study_data[
    (credit_case_study_data['Customer ID'] ==  101708) 
]

customerE.head(10)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric
1453,101708,40,M,College,Single,$120k+,189000.0

In [8]:
customerE['Snapshot Month'] = pd.to_datetime('2020-12-31')
customerE['Month on Book'] = 1
customerE['Credit_Limit'] = (customerE['Income Numeric'] * 0.08).round(-3)

start_date = pd.to_datetime('2020-12-31')
end_date = pd.to_datetime('2024-10-31')
dates = pd.date_range(start=start_date, end=end_date, freq='M')

# Create the new DataFrame with time series data
time_series_customerE = []

# Iterate through the dates to generate the rows
for date in dates:
    # Copy the customer data for each row
    new_row = customerE.copy()
    
    # Update snapshot month to the current date
    new_row['Snapshot Month'] = date
    
    # Update Customer Age: +1 every year
    new_row['Customer Age'] = customerE['Customer Age'] + (date.year - start_date.year)
    
    # Update MoB: +1 for each row
    new_row['Month on Book'] = customerE['Month on Book'] + (date.year - start_date.year) * 12 + (date.month - start_date.month)
    
    # Append the new row to the list
    time_series_customerE.append(new_row)
    
# Concatenate all rows into a single DataFrame
customerE = pd.concat(time_series_customerE, ignore_index=True)

customerE.head(10)

C:\Users\BHuang\AppData\Local\Temp\ipykernel_14736\3644502289.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customerE['Snapshot Month'] = pd.to_datetime('2020-12-31')
C:\Users\BHuang\AppData\Local\Temp\ipykernel_14736\3644502289.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customerE['Month on Book'] = 1
C:\Users\BHuang\AppData\Local\Temp\ipykernel_14736\3644502289.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customerE['Credit_Limit'] = (customerE['Income Numeric'] * 0.08).round(-3)
C:\Users\BHuang\AppData\Local\Temp\ipykernel_14736\3644502289.py:7: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(start=start_date, end=end_date, freq='M')

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit
0,101708,40,M,College,Single,$120k+,189000.0,2020-12-31,1,15000.0
1,101708,41,M,College,Single,$120k+,189000.0,2021-01-31,2,15000.0
2,101708,41,M,College,Single,$120k+,189000.0,2021-02-28,3,15000.0
3,101708,41,M,College,Single,$120k+,189000.0,2021-03-31,4,15000.0
4,101708,41,M,College,Single,$120k+,189000.0,2021-04-30,5,15000.0
5,101708,41,M,College,Single,$120k+,189000.0,2021-05-31,6,15000.0
6,101708,41,M,College,Single,$120k+,189000.0,2021-06-30,7,15000.0
7,101708,41,M,College,Single,$120k+,189000.0,2021-07-31,8,15000.0
8,101708,41,M,College,Single,$120k+,189000.0,2021-08-31,9,15000.0
9,101708,41,M,College,Single,$120k+,189000.0,2021-09-30,10,15000.0

In [9]:
initial_fico = 760
min_utilization = 0.28
max_utilization = 0.35
risk_start_date = pd.to_datetime('2024-1-31')  # Starting point for Delinquency
max_peak_utilization = 0.99  # Peak utilization during Delinquency period
fico_deterioration_rate = 8  # Deterioration in FICO score per 10% increase in utilization
fico_fluctuation_rate = 1
external_bank_credit_card_max_util_greater_than_50_base = 0
external_bank_credit_card_max_util_greater_than_90_base = 0
credit_inquiy_base = 1

customerE['Income Category'] = np.where(
    customerE['Snapshot Month'] < risk_start_date,
    '$120k+',
    'Less than $40k'
)
customerE['Income Numeric'] = np.where(
    customerE['Snapshot Month'] < risk_start_date,
    189000,
    0
)

# Function to adjust FICO based on utilization
def calculate_fico(utilization, fico_score):
    # FICO deteriorates as utilization increases
    if utilization > 0.20:
        fico_deduction = fico_deterioration_rate * ((utilization - 0.20) // 0.10)
        fico_score = max(fico_score - fico_deduction, 300)  # FICO score can't go below 300
    return fico_score

# Function to adjust FICO based on utilization
def fluctuate_fico(utilization, fico_score):
    fico_deduction = fico_fluctuation_rate * ((utilization - 0.20) // 0.025)
    fico_score = max(fico_score - fico_deduction, 300) 
    return fico_score

# Function to generate monthly utilization and FICO
def generate_utilization_fico(df):
    fico_scores = []
    utilizations = []
    external_bank_credit_card_max_util_greater_than_50 = []
    external_bank_credit_card_max_util_greater_than_90 = []
    credit_inquiries = []
    
    for index, row in df.iterrows():
        snapshot_date = row['Snapshot Month']
        MoB = row['Month on Book']
        
        if snapshot_date < risk_start_date:
            utilization = random.uniform(min_utilization, max_utilization)
            fico_score = fluctuate_fico(utilization, initial_fico)
            credit_card_max_util_greater_than_50 = external_bank_credit_card_max_util_greater_than_50_base
            credit_card_max_util_greater_than_90 = external_bank_credit_card_max_util_greater_than_90_base
            if MoB <= 12:
                credit_inquiry = credit_inquiy_base
            else:
                credit_inquiry = 0
        else:
            months_since_risk_start_date = (snapshot_date - risk_start_date).days // 30
            
            if months_since_risk_start_date <= 3:
                # First 4 months: 
                utilization =  0.20 + 0.2 * months_since_risk_start_date + random.uniform(0.01,0.02)  
                credit_card_max_util_greater_than_50 = external_bank_credit_card_max_util_greater_than_50_base + 2
                credit_card_max_util_greater_than_90 = external_bank_credit_card_max_util_greater_than_90_base + 1 
                credit_inquiry = credit_inquiy_base 

            else:
                # After reaching 90%, slow increase by 0.8% per month
                utilization = random.uniform(0.98,1)
                credit_card_max_util_greater_than_50 = external_bank_credit_card_max_util_greater_than_50_base + 2
                credit_card_max_util_greater_than_90 = external_bank_credit_card_max_util_greater_than_90_base + 2
                credit_inquiry = credit_inquiy_base 
                
            fico_score = calculate_fico(utilization, initial_fico)

        utilizations.append(utilization)
        fico_scores.append(fico_score)
        external_bank_credit_card_max_util_greater_than_50.append(credit_card_max_util_greater_than_50)
        external_bank_credit_card_max_util_greater_than_90.append(credit_card_max_util_greater_than_90)
        credit_inquiries.append(credit_inquiry)
    
    df['Utilization'] = utilizations
    df['FICO'] = fico_scores
    df['external_bank_credit_card_max_util_greater_than_50'] = external_bank_credit_card_max_util_greater_than_50
    df['external_bank_credit_card_max_util_greater_than_90'] = external_bank_credit_card_max_util_greater_than_90
    df['Credit_Inquiries'] = credit_inquiries
    return df

# Generate the utilization and FICO for the customerE DataFrame
customerE = generate_utilization_fico(customerE)

customerE.head(100)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit,Utilization,FICO,external_bank_credit_card_max_util_greater_than_50,external_bank_credit_card_max_util_greater_than_90,Credit_Inquiries
0,101708,40,M,College,Single,$120k+,189000,2020-12-31,1,15000.0,0.320402,756.0,0,0,1
1,101708,41,M,College,Single,$120k+,189000,2021-01-31,2,15000.0,0.335590,755.0,0,0,1
2,101708,41,M,College,Single,$120k+,189000,2021-02-28,3,15000.0,0.336946,755.0,0,0,1
3,101708,41,M,College,Single,$120k+,189000,2021-03-31,4,15000.0,0.283871,757.0,0,0,1
4,101708,41,M,College,Single,$120k+,189000,2021-04-30,5,15000.0,0.339113,755.0,0,0,1
5,101708,41,M,College,Single,$120k+,189000,2021-05-31,6,15000.0,0.304578,756.0,0,0,1
6,101708,41,M,College,Single,$120k+,189000,2021-06-30,7,15000.0,0.280835,757.0,0,0,1
7,101708,41,M,College,Single,$120k+,189000,2021-07-31,8,15000.0,0.284526,757.0,0,0,1
8,101708,41,M,College,Single,$120k+,189000,2021-08-31,9,15000.0,0.311600,756.0,0,0,1
9,101708,41,M,College,Single,$120k+,189000,2021-09-30,10,15000.0,0.285149,757.0,0,0,1
10,101708,41,M,College,Single,$120k+,189000,2021-10-31,11,15000.0,0.306455,756.0,0,0,1
11,101708,41,M,College,Single,$120k+,189000,2021-11-30,12,15000.0,0.305178,756.0,0,0,1
12,101708,41,M,College,Single,$120k+,189000,2021-12-31,13,15000.0,0.282181,757.0,0,0,0
13,101708,42,M,College,Single,$120k+,189000,2022-01-31,14,15000.0,0.324275,756.0,0,0,0
14,101708,42,M,College,Single,$120k+,189000,2022-02-28,15,15000.0,0.300465,756.0,0,0,0
15,101708,42,M,College,Single,$120k+,189000,2022-03-31,16,15000.0,0.299190,757.0,0,0,0
16,101708,42,M,College,Single,$120k+,189000,2022-04-30,17,15000.0,0.305464,756.0,0,0,0
17,101708,42,M,College,Single,$120k+,189000,2022-05-31,18,15000.0,0.296821,757.0,0,0,0
18,101708,42,M,College,Single,$120k+,189000,2022-06-30,19,15000.0,0.305206,756.0,0,0,0
19,101708,42,M,College,Single,$120k+,189000,2022-07-31,20,15000.0,0.315907,756.0,0,0,0
20,101708,42,M,College,Single,$120k+,189000,2022-08-31,21,15000.0,0.282402,757.0,0,0,0
21,101708,42,M,College,Single,$120k+,189000,2022-09-30,22,15000.0,0.310512,756.0,0,0,0
22,101708,42,M,College,Single,$120k+,189000,2022-10-31,23,15000.0,0.301592,756.0,0,0,0
23,101708,42,M,College,Single,$120k+,189000,2022-11-30,24,15000.0,0.331541,755.0,0,0,0
24,101708,42,M,College,Single,$120k+,189000,2022-12-31,25,15000.0,0.340395,755.0,0,0,0
25,101708,43,M,College,Single,$120k+,189000,2023-01-31,26,15000.0,0.302513,756.0,0,0,0
26,101708,43,M,College,Single,$120k+,189000,2023-02-28,27,15000.0,0.325254,755.0,0,0,0
27,101708,43,M,College,Single,$120k+,189000,2023-03-31,28,15000.0,0.345855,755.0,0,0,0
28,101708,43,M,College,Single,$120k+,189000,2023-04-30,29,15000.0,0.349809,755.0,0,0,0
29,101708,43,M,College,Single,$120k+,189000,2023-05-31,30,15000.0,0.327639,755.0,0,0,0
30,101708,43,M,College,Single,$120k+,189000,2023-06-30,31,15000.0,0.323375,756.0,0,0,0
31,101708,43,M,College,Single,$120k+,189000,2023-07-31,32,15000.0,0.297568,757.0,0,0,0
32,101708,43,M,College,Single,$120k+,189000,2023-08-31,33,15000.0,0.282873,757.0,0,0,0
33,101708,43,M,College,Single,$120k+,189000,2023-09-30,34,15000.0,0.288844,757.0,0,0,0
34,101708,43,M,College,Single,$120k+,189000,2023-10-31,35,15000.0,0.292381,757.0,0,0,0
35,101708,43,M,College,Single,$120k+,189000,2023-11-30,36,15000.0,0.339072,755.0,0,0,0
36,101708,43,M,College,Single,$120k+,189000,2023-12-31,37,15000.0,0.335963,755.0,0,0,0
37,101708,44,M,College,Single,Less than $40k,0,2024-01-31,38,15000.0,0.218581,760.0,2,1,1
38,101708,44,M,College,Single,Less than $40k,0,2024-02-29,39,15000.0,0.219762,760.0,2,1,1
39,101708,44,M,College,Single,Less than $40k,0,2024-03-31,40,15000.0,0.615146,728.0,2,1,1
40,101708,44,M,College,Single,Less than $40k,0,2024-04-30,41,15000.0,0.816346,712.0,2,1,1
41,101708,44,M,College,Single,Less than $40k,0,2024-05-31,42,15000.0,0.984672,704.0,2,2,1
42,101708,44,M,College,Single,Less than $40k,0,2024-06-30,43,15000.0,0.991369,704.0,2,2,1
43,101708,44,M,College,Single,Less than $40k,0,2024-07-31,44,15000.0,0.997089,704.0,2,2,1
44,101708,44,M,College,Single,Less than $40k,0,2024-08-31,45,15000.0,0.988103,704.0,2,2,1
45,101708,44,M,College,Single,Less than $40k,0,2024-09-30,46,15000.0,0.988541,704.0,2,2,1
46,101708,44,M,College,Single,Less than $40k,0,2024-10-31,47,15000.0,0.980300,704.0,2,2,1

In [10]:
customerE['Delinquency'] = 0
customerE = customerE.sort_values(by='Snapshot Month').reset_index(drop=True)

In [11]:
Revolving_balance_base = 0

# Function to generate monthly revolving balance
def generate_revolving_balance(df):
    revolving_balance = []
    
    for index, row in df.iterrows():
        snapshot_date = row['Snapshot Month']
        credit_limit = row['Credit_Limit']
        utilization = row['Utilization']
        
        if snapshot_date < risk_start_date:
            revolving_bal = Revolving_balance_base
        else:
            months_since_risk_start_date = (snapshot_date - risk_start_date).days // 30
            
            if months_since_risk_start_date <= 3:
                # First 4 months: 
                revolving_bal = credit_limit * utilization * 0.9

            else:
                revolving_bal = credit_limit * utilization

        revolving_balance.append(revolving_bal)
    
    df['Revolving_Bal'] = revolving_balance

    return df

# Generate the utilization and FICO for the customerE DataFrame
customerE = generate_revolving_balance(customerE)

# revolving_balance_delinquency_3 = customerE.loc[customerE['Delinquency'] == 3, 'Revolving_Bal'].iloc[0]
# customerE.loc[customerE['Delinquency'] > 3, 'Revolving_Bal'] = revolving_balance_delinquency_3

customerE.head(100)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit,Utilization,FICO,external_bank_credit_card_max_util_greater_than_50,external_bank_credit_card_max_util_greater_than_90,Credit_Inquiries,Delinquency,Revolving_Bal
0,101708,40,M,College,Single,$120k+,189000,2020-12-31,1,15000.0,0.320402,756.0,0,0,1,0,0.000000
1,101708,41,M,College,Single,$120k+,189000,2021-01-31,2,15000.0,0.335590,755.0,0,0,1,0,0.000000
2,101708,41,M,College,Single,$120k+,189000,2021-02-28,3,15000.0,0.336946,755.0,0,0,1,0,0.000000
3,101708,41,M,College,Single,$120k+,189000,2021-03-31,4,15000.0,0.283871,757.0,0,0,1,0,0.000000
4,101708,41,M,College,Single,$120k+,189000,2021-04-30,5,15000.0,0.339113,755.0,0,0,1,0,0.000000
5,101708,41,M,College,Single,$120k+,189000,2021-05-31,6,15000.0,0.304578,756.0,0,0,1,0,0.000000
6,101708,41,M,College,Single,$120k+,189000,2021-06-30,7,15000.0,0.280835,757.0,0,0,1,0,0.000000
7,101708,41,M,College,Single,$120k+,189000,2021-07-31,8,15000.0,0.284526,757.0,0,0,1,0,0.000000
8,101708,41,M,College,Single,$120k+,189000,2021-08-31,9,15000.0,0.311600,756.0,0,0,1,0,0.000000
9,101708,41,M,College,Single,$120k+,189000,2021-09-30,10,15000.0,0.285149,757.0,0,0,1,0,0.000000
10,101708,41,M,College,Single,$120k+,189000,2021-10-31,11,15000.0,0.306455,756.0,0,0,1,0,0.000000
11,101708,41,M,College,Single,$120k+,189000,2021-11-30,12,15000.0,0.305178,756.0,0,0,1,0,0.000000
12,101708,41,M,College,Single,$120k+,189000,2021-12-31,13,15000.0,0.282181,757.0,0,0,0,0,0.000000
13,101708,42,M,College,Single,$120k+,189000,2022-01-31,14,15000.0,0.324275,756.0,0,0,0,0,0.000000
14,101708,42,M,College,Single,$120k+,189000,2022-02-28,15,15000.0,0.300465,756.0,0,0,0,0,0.000000
15,101708,42,M,College,Single,$120k+,189000,2022-03-31,16,15000.0,0.299190,757.0,0,0,0,0,0.000000
16,101708,42,M,College,Single,$120k+,189000,2022-04-30,17,15000.0,0.305464,756.0,0,0,0,0,0.000000
17,101708,42,M,College,Single,$120k+,189000,2022-05-31,18,15000.0,0.296821,757.0,0,0,0,0,0.000000
18,101708,42,M,College,Single,$120k+,189000,2022-06-30,19,15000.0,0.305206,756.0,0,0,0,0,0.000000
19,101708,42,M,College,Single,$120k+,189000,2022-07-31,20,15000.0,0.315907,756.0,0,0,0,0,0.000000
20,101708,42,M,College,Single,$120k+,189000,2022-08-31,21,15000.0,0.282402,757.0,0,0,0,0,0.000000
21,101708,42,M,College,Single,$120k+,189000,2022-09-30,22,15000.0,0.310512,756.0,0,0,0,0,0.000000
22,101708,42,M,College,Single,$120k+,189000,2022-10-31,23,15000.0,0.301592,756.0,0,0,0,0,0.000000
23,101708,42,M,College,Single,$120k+,189000,2022-11-30,24,15000.0,0.331541,755.0,0,0,0,0,0.000000
24,101708,42,M,College,Single,$120k+,189000,2022-12-31,25,15000.0,0.340395,755.0,0,0,0,0,0.000000
25,101708,43,M,College,Single,$120k+,189000,2023-01-31,26,15000.0,0.302513,756.0,0,0,0,0,0.000000
26,101708,43,M,College,Single,$120k+,189000,2023-02-28,27,15000.0,0.325254,755.0,0,0,0,0,0.000000
27,101708,43,M,College,Single,$120k+,189000,2023-03-31,28,15000.0,0.345855,755.0,0,0,0,0,0.000000
28,101708,43,M,College,Single,$120k+,189000,2023-04-30,29,15000.0,0.349809,755.0,0,0,0,0,0.000000
29,101708,43,M,College,Single,$120k+,189000,2023-05-31,30,15000.0,0.327639,755.0,0,0,0,0,0.000000
30,101708,43,M,College,Single,$120k+,189000,2023-06-30,31,15000.0,0.323375,756.0,0,0,0,0,0.000000
31,101708,43,M,College,Single,$120k+,189000,2023-07-31,32,15000.0,0.297568,757.0,0,0,0,0,0.000000
32,101708,43,M,College,Single,$120k+,189000,2023-08-31,33,15000.0,0.282873,757.0,0,0,0,0,0.000000
33,101708,43,M,College,Single,$120k+,189000,2023-09-30,34,15000.0,0.288844,757.0,0,0,0,0,0.000000
34,101708,43,M,College,Single,$120k+,189000,2023-10-31,35,15000.0,0.292381,757.0,0,0,0,0,0.000000
35,101708,43,M,College,Single,$120k+,189000,2023-11-30,36,15000.0,0.339072,755.0,0,0,0,0,0.000000
36,101708,43,M,College,Single,$120k+,189000,2023-12-31,37,15000.0,0.335963,755.0,0,0,0,0,0.000000
37,101708,44,M,College,Single,Less than $40k,0,2024-01-31,38,15000.0,0.218581,760.0,2,1,1,0,2950.839956
38,101708,44,M,College,Single,Less than $40k,0,2024-02-29,39,15000.0,0.219762,760.0,2,1,1,0,2966.782559
39,101708,44,M,College,Single,Less than $40k,0,2024-03-31,40,15000.0,0.615146,728.0,2,1,1,0,8304.469331
40,101708,44,M,College,Single,Less than $40k,0,2024-04-30,41,15000.0,0.816346,712.0,2,1,1,0,11020.676000
41,101708,44,M,College,Single,Less than $40k,0,2024-05-31,42,15000.0,0.984672,704.0,2,2,1,0,14770.083854
42,101708,44,M,College,Single,Less than $40k,0,2024-06-30,43,15000.0,0.991369,704.0,2,2,1,0,14870.536337
43,101708,44,M,College,Single,Less than $40k,0,2024-07-31,44,15000.0,0.997089,704.0,2,2,1,0,14956.332724
44,101708,44,M,College,Single,Less than $40k,0,2024-08-31,45,15000.0,0.988103,704.0,2,2,1,0,14821.541456
45,101708,44,M,College,Single,Less than $40k,0,2024-09-30,46,15000.0,0.988541,704.0,2,2,1,0,14828.117977
46,101708,44,M,College,Single,Less than $40k,0,2024-10-31,47,15000.0,0.980300,704.0,2,2,1,0,14704.501798

In [12]:
initial_debt = random.uniform(38600, 38700)  
debt_reduction = random.uniform(900, 1000)  

# Function to generate monthly revolving balance
def generate_total_debt(df):
    total_debt = []
    dti = []
    i = 0

    for index, row in df.iterrows():
        snapshot_date = row['Snapshot Month']
        Revolving_Balance = row['Revolving_Bal']
        Income = row['Income Numeric']
        card_max_util_gt_50 =  row['external_bank_credit_card_max_util_greater_than_50']
        
        if snapshot_date < risk_start_date:
            total_debt_debt = initial_debt - debt_reduction*i
            i = i+1
            debt_to_income = debt_reduction / (Income/12)
        else:
                total_debt_debt = initial_debt - debt_reduction*(i-1) + Revolving_Balance * card_max_util_gt_50
                debt_to_income = 1 + i*0.2
                i = i+1

        total_debt.append(total_debt_debt)
        dti.append(debt_to_income)
    
    df['Total_Debt'] = total_debt
    df['Debt_to_Income_Ratio'] = dti

    return df

# Generate the utilization and FICO for the customerE DataFrame
customerE = generate_total_debt(customerE)

customerE.head(100)

# Assign the computed Total_Debt values to the DataFrame
# customerE['Total_Debt'] = total_debt_values
# customerE['Debt_to_Income_Ratio'] = (
#     np.random.uniform(500, 600, size=len(customerE)) + 
#     np.minimum(customerE['external_bank_credit_card_max_util_greater_than_50'] + 1, 3) * customerE['Revolving_Bal']
# ) / (customerE['Income Numeric'] / 12)

# customerE.head(50)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit,Utilization,FICO,external_bank_credit_card_max_util_greater_than_50,external_bank_credit_card_max_util_greater_than_90,Credit_Inquiries,Delinquency,Revolving_Bal,Total_Debt,Debt_to_Income_Ratio
0,101708,40,M,College,Single,$120k+,189000,2020-12-31,1,15000.0,0.320402,756.0,0,0,1,0,0.000000,38669.366819,0.059828
1,101708,41,M,College,Single,$120k+,189000,2021-01-31,2,15000.0,0.335590,755.0,0,0,1,0,0.000000,37727.080625,0.059828
2,101708,41,M,College,Single,$120k+,189000,2021-02-28,3,15000.0,0.336946,755.0,0,0,1,0,0.000000,36784.794431,0.059828
3,101708,41,M,College,Single,$120k+,189000,2021-03-31,4,15000.0,0.283871,757.0,0,0,1,0,0.000000,35842.508237,0.059828
4,101708,41,M,College,Single,$120k+,189000,2021-04-30,5,15000.0,0.339113,755.0,0,0,1,0,0.000000,34900.222044,0.059828
5,101708,41,M,College,Single,$120k+,189000,2021-05-31,6,15000.0,0.304578,756.0,0,0,1,0,0.000000,33957.935850,0.059828
6,101708,41,M,College,Single,$120k+,189000,2021-06-30,7,15000.0,0.280835,757.0,0,0,1,0,0.000000,33015.649656,0.059828
7,101708,41,M,College,Single,$120k+,189000,2021-07-31,8,15000.0,0.284526,757.0,0,0,1,0,0.000000,32073.363462,0.059828
8,101708,41,M,College,Single,$120k+,189000,2021-08-31,9,15000.0,0.311600,756.0,0,0,1,0,0.000000,31131.077269,0.059828
9,101708,41,M,College,Single,$120k+,189000,2021-09-30,10,15000.0,0.285149,757.0,0,0,1,0,0.000000,30188.791075,0.059828
10,101708,41,M,College,Single,$120k+,189000,2021-10-31,11,15000.0,0.306455,756.0,0,0,1,0,0.000000,29246.504881,0.059828
11,101708,41,M,College,Single,$120k+,189000,2021-11-30,12,15000.0,0.305178,756.0,0,0,1,0,0.000000,28304.218687,0.059828
12,101708,41,M,College,Single,$120k+,189000,2021-12-31,13,15000.0,0.282181,757.0,0,0,0,0,0.000000,27361.932494,0.059828
13,101708,42,M,College,Single,$120k+,189000,2022-01-31,14,15000.0,0.324275,756.0,0,0,0,0,0.000000,26419.646300,0.059828
14,101708,42,M,College,Single,$120k+,189000,2022-02-28,15,15000.0,0.300465,756.0,0,0,0,0,0.000000,25477.360106,0.059828
15,101708,42,M,College,Single,$120k+,189000,2022-03-31,16,15000.0,0.299190,757.0,0,0,0,0,0.000000,24535.073912,0.059828
16,101708,42,M,College,Single,$120k+,189000,2022-04-30,17,15000.0,0.305464,756.0,0,0,0,0,0.000000,23592.787719,0.059828
17,101708,42,M,College,Single,$120k+,189000,2022-05-31,18,15000.0,0.296821,757.0,0,0,0,0,0.000000,22650.501525,0.059828
18,101708,42,M,College,Single,$120k+,189000,2022-06-30,19,15000.0,0.305206,756.0,0,0,0,0,0.000000,21708.215331,0.059828
19,101708,42,M,College,Single,$120k+,189000,2022-07-31,20,15000.0,0.315907,756.0,0,0,0,0,0.000000,20765.929137,0.059828
20,101708,42,M,College,Single,$120k+,189000,2022-08-31,21,15000.0,0.282402,757.0,0,0,0,0,0.000000,19823.642944,0.059828
21,101708,42,M,College,Single,$120k+,189000,2022-09-30,22,15000.0,0.310512,756.0,0,0,0,0,0.000000,18881.356750,0.059828
22,101708,42,M,College,Single,$120k+,189000,2022-10-31,23,15000.0,0.301592,756.0,0,0,0,0,0.000000,17939.070556,0.059828
23,101708,42,M,College,Single,$120k+,189000,2022-11-30,24,15000.0,0.331541,755.0,0,0,0,0,0.000000,16996.784362,0.059828
24,101708,42,M,College,Single,$120k+,189000,2022-12-31,25,15000.0,0.340395,755.0,0,0,0,0,0.000000,16054.498169,0.059828
25,101708,43,M,College,Single,$120k+,189000,2023-01-31,26,15000.0,0.302513,756.0,0,0,0,0,0.000000,15112.211975,0.059828
26,101708,43,M,College,Single,$120k+,189000,2023-02-28,27,15000.0,0.325254,755.0,0,0,0,0,0.000000,14169.925781,0.059828
27,101708,43,M,College,Single,$120k+,189000,2023-03-31,28,15000.0,0.345855,755.0,0,0,0,0,0.000000,13227.639587,0.059828
28,101708,43,M,College,Single,$120k+,189000,2023-04-30,29,15000.0,0.349809,755.0,0,0,0,0,0.000000,12285.353394,0.059828
29,101708,43,M,College,Single,$120k+,189000,2023-05-31,30,15000.0,0.327639,755.0,0,0,0,0,0.000000,11343.067200,0.059828
30,101708,43,M,College,Single,$120k+,189000,2023-06-30,31,15000.0,0.323375,756.0,0,0,0,0,0.000000,10400.781006,0.059828
31,101708,43,M,College,Single,$120k+,189000,2023-07-31,32,15000.0,0.297568,757.0,0,0,0,0,0.000000,9458.494812,0.059828
32,101708,43,M,College,Single,$120k+,189000,2023-08-31,33,15000.0,0.282873,757.0,0,0,0,0,0.000000,8516.208619,0.059828
33,101708,43,M,College,Single,$120k+,189000,2023-09-30,34,15000.0,0.288844,757.0,0,0,0,0,0.000000,7573.922425,0.059828
34,101708,43,M,College,Single,$120k+,189000,2023-10-31,35,15000.0,0.292381,757.0,0,0,0,0,0.000000,6631.636231,0.059828
35,101708,43,M,College,Single,$120k+,189000,2023-11-30,36,15000.0,0.339072,755.0,0,0,0,0,0.000000,5689.350037,0.059828
36,101708,43,M,College,Single,$120k+,189000,2023-12-31,37,15000.0,0.335963,755.0,0,0,0,0,0.000000,4747.063844,0.059828
37,101708,44,M,College,Single,Less than $40k,0,2024-01-31,38,15000.0,0.218581,760.0,2,1,1,0,2950.839956,10648.743755,8.400000
38,101708,44,M,College,Single,Less than $40k,0,2024-02-29,39,15000.0,0.219762,760.0,2,1,1,0,2966.782559,9738.342768,8.600000
39,101708,44,M,College,Single,Less than $40k,0,2024-03-31,40,15000.0,0.615146,728.0,2,1,1,0,8304.469331,19471.430119,8.800000
40,101708,44,M,College,Single,Less than $40k,0,2024-04-30,41,15000.0,0.816346,712.0,2,1,1,0,11020.676000,23961.557263,9.000000
41,101708,44,M,College,Single,Less than $40k,0,2024-05-31,42,15000.0,0.984672,704.0,2,2,1,0,14770.083854,30518.086776,9.200000
42,101708,44,M,College,Single,Less than $40k,0,2024-06-30,43,15000.0,0.991369,704.0,2,2,1,0,14870.536337,29776.705550,9.400000
43,101708,44,M,College,Single,Less than $40k,0,2024-07-31,44,15000.0,0.997089,704.0,2,2,1,0,14956.332724,29006.012129,9.600000
44,101708,44,M,College,Single,Less than $40k,0,2024-08-31,45,15000.0,0.988103,704.0,2,2,1,0,14821.541456,27794.143400,9.800000
45,101708,44,M,College,Single,Less than $40k,0,2024-09-30,46,15000.0,0.988541,704.0,2,2,1,0,14828.117977,26865.010248,10.000000
46,101708,44,M,College,Single,Less than $40k,0,2024-10-31,47,15000.0,0.980300,704.0,2,2,1,0,14704.501798,25675.491695,10.200000

In [13]:
interchange_fee_factor = 0.02
interest_rate_monthly = 24.61 / 100 / 12

# Calculate Interchange Fee for all rows initially
customerE['Interchange Fee'] = customerE.apply(
    lambda row: row['Utilization'] * row['Credit_Limit'] * interchange_fee_factor, axis=1
)

customerE['Interchange Fee'] = np.where(
    customerE['Snapshot Month'] < risk_start_date,
    customerE['Utilization'] * customerE['Credit_Limit'] * interchange_fee_factor,
    customerE['Utilization'] * customerE['Credit_Limit'] * 0.05 * interchange_fee_factor
)

# # Get the last 7 rows based on Snapshot Month ascending order
# last_7_indices = customerE.sort_values(by='Snapshot Month').index[-7:]

# # Update Interchange Fee for the last 7 rows
# for i in range(1, len(last_7_indices)):
#     current_index = last_7_indices[i]
#     previous_index = last_7_indices[i - 1]
    
#     # Calculate the Interchange Fee for last 7 rows based on revolving balance difference
#     revolving_difference = customerE.loc[current_index, 'Revolving_Bal'] - customerE.loc[previous_index, 'Revolving_Bal'] - 30
#     interchange_fee = revolving_difference / (1 + interest_rate_monthly) * interchange_fee_factor
    
#     # Update the Interchange Fee for the current row
#     customerE.at[current_index, 'Interchange Fee'] = max(interchange_fee,0)

# customerE.loc[customerE['Delinquency'] > 3, 'Interchange Fee'] = 0


customerE['Late_Fee_Revenue'] = 0
# customerE.loc[customerE['Delinquency'] > 0, 'Late_Fee_Revenue'] = 30
# customerE.loc[customerE['Delinquency'] > 3, 'Late_Fee_Revenue'] = 0

customerE['Monthly_Interest_Revenue'] = customerE['Revolving_Bal'] * interest_rate_monthly
customerE.loc[customerE['Delinquency'] > 0, 'Monthly_Interest_Revenue'] = 0

customerE['Annual_Fee'] = np.where(
    customerE['Month on Book'] % 12 == 0,
    100,
    0
)

customerE['Total Revenue'] = customerE['Interchange Fee'] + customerE['Late_Fee_Revenue'] + customerE['Monthly_Interest_Revenue'] + customerE['Annual_Fee'] 

customerE.head(100)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit,...,Credit_Inquiries,Delinquency,Revolving_Bal,Total_Debt,Debt_to_Income_Ratio,Interchange Fee,Late_Fee_Revenue,Monthly_Interest_Revenue,Annual_Fee,Total Revenue
0,101708,40,M,College,Single,$120k+,189000,2020-12-31,1,15000.0,...,1,0,0.000000,38669.366819,0.059828,96.120678,0,0.000000,0,96.120678
1,101708,41,M,College,Single,$120k+,189000,2021-01-31,2,15000.0,...,1,0,0.000000,37727.080625,0.059828,100.676969,0,0.000000,0,100.676969
2,101708,41,M,College,Single,$120k+,189000,2021-02-28,3,15000.0,...,1,0,0.000000,36784.794431,0.059828,101.083659,0,0.000000,0,101.083659
3,101708,41,M,College,Single,$120k+,189000,2021-03-31,4,15000.0,...,1,0,0.000000,35842.508237,0.059828,85.161300,0,0.000000,0,85.161300
4,101708,41,M,College,Single,$120k+,189000,2021-04-30,5,15000.0,...,1,0,0.000000,34900.222044,0.059828,101.733925,0,0.000000,0,101.733925
5,101708,41,M,College,Single,$120k+,189000,2021-05-31,6,15000.0,...,1,0,0.000000,33957.935850,0.059828,91.373300,0,0.000000,0,91.373300
6,101708,41,M,College,Single,$120k+,189000,2021-06-30,7,15000.0,...,1,0,0.000000,33015.649656,0.059828,84.250432,0,0.000000,0,84.250432
7,101708,41,M,College,Single,$120k+,189000,2021-07-31,8,15000.0,...,1,0,0.000000,32073.363462,0.059828,85.357738,0,0.000000,0,85.357738
8,101708,41,M,College,Single,$120k+,189000,2021-08-31,9,15000.0,...,1,0,0.000000,31131.077269,0.059828,93.479896,0,0.000000,0,93.479896
9,101708,41,M,College,Single,$120k+,189000,2021-09-30,10,15000.0,...,1,0,0.000000,30188.791075,0.059828,85.544663,0,0.000000,0,85.544663
10,101708,41,M,College,Single,$120k+,189000,2021-10-31,11,15000.0,...,1,0,0.000000,29246.504881,0.059828,91.936360,0,0.000000,0,91.936360
11,101708,41,M,College,Single,$120k+,189000,2021-11-30,12,15000.0,...,1,0,0.000000,28304.218687,0.059828,91.553513,0,0.000000,100,191.553513
12,101708,41,M,College,Single,$120k+,189000,2021-12-31,13,15000.0,...,0,0,0.000000,27361.932494,0.059828,84.654350,0,0.000000,0,84.654350
13,101708,42,M,College,Single,$120k+,189000,2022-01-31,14,15000.0,...,0,0,0.000000,26419.646300,0.059828,97.282350,0,0.000000,0,97.282350
14,101708,42,M,College,Single,$120k+,189000,2022-02-28,15,15000.0,...,0,0,0.000000,25477.360106,0.059828,90.139448,0,0.000000,0,90.139448
15,101708,42,M,College,Single,$120k+,189000,2022-03-31,16,15000.0,...,0,0,0.000000,24535.073912,0.059828,89.756922,0,0.000000,0,89.756922
16,101708,42,M,College,Single,$120k+,189000,2022-04-30,17,15000.0,...,0,0,0.000000,23592.787719,0.059828,91.639232,0,0.000000,0,91.639232
17,101708,42,M,College,Single,$120k+,189000,2022-05-31,18,15000.0,...,0,0,0.000000,22650.501525,0.059828,89.046411,0,0.000000,0,89.046411
18,101708,42,M,College,Single,$120k+,189000,2022-06-30,19,15000.0,...,0,0,0.000000,21708.215331,0.059828,91.561710,0,0.000000,0,91.561710
19,101708,42,M,College,Single,$120k+,189000,2022-07-31,20,15000.0,...,0,0,0.000000,20765.929137,0.059828,94.771997,0,0.000000,0,94.771997
20,101708,42,M,College,Single,$120k+,189000,2022-08-31,21,15000.0,...,0,0,0.000000,19823.642944,0.059828,84.720633,0,0.000000,0,84.720633
21,101708,42,M,College,Single,$120k+,189000,2022-09-30,22,15000.0,...,0,0,0.000000,18881.356750,0.059828,93.153531,0,0.000000,0,93.153531
22,101708,42,M,College,Single,$120k+,189000,2022-10-31,23,15000.0,...,0,0,0.000000,17939.070556,0.059828,90.477473,0,0.000000,0,90.477473
23,101708,42,M,College,Single,$120k+,189000,2022-11-30,24,15000.0,...,0,0,0.000000,16996.784362,0.059828,99.462327,0,0.000000,100,199.462327
24,101708,42,M,College,Single,$120k+,189000,2022-12-31,25,15000.0,...,0,0,0.000000,16054.498169,0.059828,102.118437,0,0.000000,0,102.118437
25,101708,43,M,College,Single,$120k+,189000,2023-01-31,26,15000.0,...,0,0,0.000000,15112.211975,0.059828,90.753758,0,0.000000,0,90.753758
26,101708,43,M,College,Single,$120k+,189000,2023-02-28,27,15000.0,...,0,0,0.000000,14169.925781,0.059828,97.576129,0,0.000000,0,97.576129
27,101708,43,M,College,Single,$120k+,189000,2023-03-31,28,15000.0,...,0,0,0.000000,13227.639587,0.059828,103.756448,0,0.000000,0,103.756448
28,101708,43,M,College,Single,$120k+,189000,2023-04-30,29,15000.0,...,0,0,0.000000,12285.353394,0.059828,104.942777,0,0.000000,0,104.942777
29,101708,43,M,College,Single,$120k+,189000,2023-05-31,30,15000.0,...,0,0,0.000000,11343.067200,0.059828,98.291832,0,0.000000,0,98.291832
30,101708,43,M,College,Single,$120k+,189000,2023-06-30,31,15000.0,...,0,0,0.000000,10400.781006,0.059828,97.012563,0,0.000000,0,97.012563
31,101708,43,M,College,Single,$120k+,189000,2023-07-31,32,15000.0,...,0,0,0.000000,9458.494812,0.059828,89.270296,0,0.000000,0,89.270296
32,101708,43,M,College,Single,$120k+,189000,2023-08-31,33,15000.0,...,0,0,0.000000,8516.208619,0.059828,84.861910,0,0.000000,0,84.861910
33,101708,43,M,College,Single,$120k+,189000,2023-09-30,34,15000.0,...,0,0,0.000000,7573.922425,0.059828,86.653340,0,0.000000,0,86.653340
34,101708,43,M,College,Single,$120k+,189000,2023-10-31,35,15000.0,...,0,0,0.000000,6631.636231,0.059828,87.714166,0,0.000000,0,87.714166
35,101708,43,M,College,Single,$120k+,189000,2023-11-30,36,15000.0,...,0,0,0.000000,5689.350037,0.059828,101.721601,0,0.000000,100,201.721601
36,101708,43,M,College,Single,$120k+,189000,2023-12-31,37,15000.0,...,0,0,0.000000,4747.063844,0.059828,100.788842,0,0.000000,0,100.788842
37,101708,44,M,College,Single,Less than $40k,0,2024-01-31,38,15000.0,...,1,0,2950.839956,10648.743755,8.400000,3.278711,0,60.516809,0,63.795520
38,101708,44,M,College,Single,Less than $40k,0,2024-02-29,39,15000.0,...,1,0,2966.782559,9738.342768,8.600000,3.296425,0,60.843766,0,64.140191
39,101708,44,M,College,Single,Less than $40k,0,2024-03-31,40,15000.0,...,1,0,8304.469331,19471.430119,8.800000,9.227188,0,170.310825,0,179.538013
40,101708,44,M,College,Single,Less than $40k,0,2024-04-30,41,15000.0,...,1,0,11020.676000,23961.557263,9.000000,12.245196,0,226.015697,0,238.260893
41,101708,44,M,College,Single,Less than $40k,0,2024-05-31,42,15000.0,...,1,0,14770.083854,30518.086776,9.200000,14.770084,0,302.909803,0,317.679887
42,101708,44,M,College,Single,Less than $40k,0,2024-06-30,43,15000.0,...,1,0,14870.536337,29776.705550,9.400000,14.870536,0,304.969916,0,319.840452
43,101708,44,M,College,Single,Less than $40k,0,2024-07-31,44,15000.0,...,1,0,14956.332724,29006.012129,9.600000,14.956333,0,306.729457,0,321.685790
44,101708,44,M,College,Single,Less than $40k,0,2024-08-31,45,15000.0,...,1,0,14821.541456,27794.143400,9.800000,14.821541,0,303.965113,0,318.786654
45,101708,44,M,College,Single,Less than $40k,0,2024-09-30,46,15000.0,...,1,0,14828.117977,26865.010248,10.000000,14.828118,0,304.099986,0,318.928104
46,101708,44,M,College,Single,Less than $40k,0,2024-10-31,47,15000.0,...,1,0,14704.501798,25675.491695,10.200000,14.704502,0,301.564824,0,316.269326

In [15]:
weight_utilization = 0.15

GT90_weights = {
    0: 0,
    1: 0.1,
    2: 0.15,
}

GT50_weights = {
    0: 0,
    1: 0.25,
    2: 0.25,
}

customerE['GT90_Weight'] = customerE['external_bank_credit_card_max_util_greater_than_90'].map(GT90_weights).fillna(0) 
customerE['GT50_Weight'] = customerE['external_bank_credit_card_max_util_greater_than_50'].map(GT50_weights).fillna(0)

# Normalize each factor (optional) and calculate ECL
customerE['ECL Ratio'] = customerE.apply(
    lambda x: min(
        0,05 + x['GT50_Weight'] * x['external_bank_credit_card_max_util_greater_than_50'] + x['GT90_Weight'] * x['external_bank_credit_card_max_util_greater_than_90'], 
        0.9
    ),
    axis=1
)

customerE['ECL'] = customerE['ECL Ratio'] * customerE['Credit_Limit']  * customerE['Utilization'] 

customerE.head(100)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit,...,Debt_to_Income_Ratio,Interchange Fee,Late_Fee_Revenue,Monthly_Interest_Revenue,Annual_Fee,Total Revenue,GT90_Weight,GT50_Weight,ECL Ratio,ECL
0,101708,40,M,College,Single,$120k+,189000,2020-12-31,1,15000.0,...,0.059828,96.120678,0,0.000000,0,96.120678,0.00,0.00,0.0,0.000000
1,101708,41,M,College,Single,$120k+,189000,2021-01-31,2,15000.0,...,0.059828,100.676969,0,0.000000,0,100.676969,0.00,0.00,0.0,0.000000
2,101708,41,M,College,Single,$120k+,189000,2021-02-28,3,15000.0,...,0.059828,101.083659,0,0.000000,0,101.083659,0.00,0.00,0.0,0.000000
3,101708,41,M,College,Single,$120k+,189000,2021-03-31,4,15000.0,...,0.059828,85.161300,0,0.000000,0,85.161300,0.00,0.00,0.0,0.000000
4,101708,41,M,College,Single,$120k+,189000,2021-04-30,5,15000.0,...,0.059828,101.733925,0,0.000000,0,101.733925,0.00,0.00,0.0,0.000000
5,101708,41,M,College,Single,$120k+,189000,2021-05-31,6,15000.0,...,0.059828,91.373300,0,0.000000,0,91.373300,0.00,0.00,0.0,0.000000
6,101708,41,M,College,Single,$120k+,189000,2021-06-30,7,15000.0,...,0.059828,84.250432,0,0.000000,0,84.250432,0.00,0.00,0.0,0.000000
7,101708,41,M,College,Single,$120k+,189000,2021-07-31,8,15000.0,...,0.059828,85.357738,0,0.000000,0,85.357738,0.00,0.00,0.0,0.000000
8,101708,41,M,College,Single,$120k+,189000,2021-08-31,9,15000.0,...,0.059828,93.479896,0,0.000000,0,93.479896,0.00,0.00,0.0,0.000000
9,101708,41,M,College,Single,$120k+,189000,2021-09-30,10,15000.0,...,0.059828,85.544663,0,0.000000,0,85.544663,0.00,0.00,0.0,0.000000
10,101708,41,M,College,Single,$120k+,189000,2021-10-31,11,15000.0,...,0.059828,91.936360,0,0.000000,0,91.936360,0.00,0.00,0.0,0.000000
11,101708,41,M,College,Single,$120k+,189000,2021-11-30,12,15000.0,...,0.059828,91.553513,0,0.000000,100,191.553513,0.00,0.00,0.0,0.000000
12,101708,41,M,College,Single,$120k+,189000,2021-12-31,13,15000.0,...,0.059828,84.654350,0,0.000000,0,84.654350,0.00,0.00,0.0,0.000000
13,101708,42,M,College,Single,$120k+,189000,2022-01-31,14,15000.0,...,0.059828,97.282350,0,0.000000,0,97.282350,0.00,0.00,0.0,0.000000
14,101708,42,M,College,Single,$120k+,189000,2022-02-28,15,15000.0,...,0.059828,90.139448,0,0.000000,0,90.139448,0.00,0.00,0.0,0.000000
15,101708,42,M,College,Single,$120k+,189000,2022-03-31,16,15000.0,...,0.059828,89.756922,0,0.000000,0,89.756922,0.00,0.00,0.0,0.000000
16,101708,42,M,College,Single,$120k+,189000,2022-04-30,17,15000.0,...,0.059828,91.639232,0,0.000000,0,91.639232,0.00,0.00,0.0,0.000000
17,101708,42,M,College,Single,$120k+,189000,2022-05-31,18,15000.0,...,0.059828,89.046411,0,0.000000,0,89.046411,0.00,0.00,0.0,0.000000
18,101708,42,M,College,Single,$120k+,189000,2022-06-30,19,15000.0,...,0.059828,91.561710,0,0.000000,0,91.561710,0.00,0.00,0.0,0.000000
19,101708,42,M,College,Single,$120k+,189000,2022-07-31,20,15000.0,...,0.059828,94.771997,0,0.000000,0,94.771997,0.00,0.00,0.0,0.000000
20,101708,42,M,College,Single,$120k+,189000,2022-08-31,21,15000.0,...,0.059828,84.720633,0,0.000000,0,84.720633,0.00,0.00,0.0,0.000000
21,101708,42,M,College,Single,$120k+,189000,2022-09-30,22,15000.0,...,0.059828,93.153531,0,0.000000,0,93.153531,0.00,0.00,0.0,0.000000
22,101708,42,M,College,Single,$120k+,189000,2022-10-31,23,15000.0,...,0.059828,90.477473,0,0.000000,0,90.477473,0.00,0.00,0.0,0.000000
23,101708,42,M,College,Single,$120k+,189000,2022-11-30,24,15000.0,...,0.059828,99.462327,0,0.000000,100,199.462327,0.00,0.00,0.0,0.000000
24,101708,42,M,College,Single,$120k+,189000,2022-12-31,25,15000.0,...,0.059828,102.118437,0,0.000000,0,102.118437,0.00,0.00,0.0,0.000000
25,101708,43,M,College,Single,$120k+,189000,2023-01-31,26,15000.0,...,0.059828,90.753758,0,0.000000,0,90.753758,0.00,0.00,0.0,0.000000
26,101708,43,M,College,Single,$120k+,189000,2023-02-28,27,15000.0,...,0.059828,97.576129,0,0.000000,0,97.576129,0.00,0.00,0.0,0.000000
27,101708,43,M,College,Single,$120k+,189000,2023-03-31,28,15000.0,...,0.059828,103.756448,0,0.000000,0,103.756448,0.00,0.00,0.0,0.000000
28,101708,43,M,College,Single,$120k+,189000,2023-04-30,29,15000.0,...,0.059828,104.942777,0,0.000000,0,104.942777,0.00,0.00,0.0,0.000000
29,101708,43,M,College,Single,$120k+,189000,2023-05-31,30,15000.0,...,0.059828,98.291832,0,0.000000,0,98.291832,0.00,0.00,0.0,0.000000
30,101708,43,M,College,Single,$120k+,189000,2023-06-30,31,15000.0,...,0.059828,97.012563,0,0.000000,0,97.012563,0.00,0.00,0.0,0.000000
31,101708,43,M,College,Single,$120k+,189000,2023-07-31,32,15000.0,...,0.059828,89.270296,0,0.000000,0,89.270296,0.00,0.00,0.0,0.000000
32,101708,43,M,College,Single,$120k+,189000,2023-08-31,33,15000.0,...,0.059828,84.861910,0,0.000000,0,84.861910,0.00,0.00,0.0,0.000000
33,101708,43,M,College,Single,$120k+,189000,2023-09-30,34,15000.0,...,0.059828,86.653340,0,0.000000,0,86.653340,0.00,0.00,0.0,0.000000
34,101708,43,M,College,Single,$120k+,189000,2023-10-31,35,15000.0,...,0.059828,87.714166,0,0.000000,0,87.714166,0.00,0.00,0.0,0.000000
35,101708,43,M,College,Single,$120k+,189000,2023-11-30,36,15000.0,...,0.059828,101.721601,0,0.000000,100,201.721601,0.00,0.00,0.0,0.000000
36,101708,43,M,College,Single,$120k+,189000,2023-12-31,37,15000.0,...,0.059828,100.788842,0,0.000000,0,100.788842,0.00,0.00,0.0,0.000000
37,101708,44,M,College,Single,Less than $40k,0,2024-01-31,38,15000.0,...,8.400000,3.278711,0,60.516809,0,63.795520,0.10,0.25,0.6,1967.226637
38,101708,44,M,College,Single,Less than $40k,0,2024-02-29,39,15000.0,...,8.600000,3.296425,0,60.843766,0,64.140191,0.10,0.25,0.6,1977.855039
39,101708,44,M,College,Single,Less than $40k,0,2024-03-31,40,15000.0,...,8.800000,9.227188,0,170.310825,0,179.538013,0.10,0.25,0.6,5536.312887
40,101708,44,M,College,Single,Less than $40k,0,2024-04-30,41,15000.0,...,9.000000,12.245196,0,226.015697,0,238.260893,0.10,0.25,0.6,7347.117334
41,101708,44,M,College,Single,Less than $40k,0,2024-05-31,42,15000.0,...,9.200000,14.770084,0,302.909803,0,317.679887,0.15,0.25,0.8,11816.067083
42,101708,44,M,College,Single,Less than $40k,0,2024-06-30,43,15000.0,...,9.400000,14.870536,0,304.969916,0,319.840452,0.15,0.25,0.8,11896.429070
43,101708,44,M,College,Single,Less than $40k,0,2024-07-31,44,15000.0,...,9.600000,14.956333,0,306.729457,0,321.685790,0.15,0.25,0.8,11965.066179
44,101708,44,M,College,Single,Less than $40k,0,2024-08-31,45,15000.0,...,9.800000,14.821541,0,303.965113,0,318.786654,0.15,0.25,0.8,11857.233165
45,101708,44,M,College,Single,Less than $40k,0,2024-09-30,46,15000.0,...,10.000000,14.828118,0,304.099986,0,318.928104,0.15,0.25,0.8,11862.494382
46,101708,44,M,College,Single,Less than $40k,0,2024-10-31,47,15000.0,...,10.200000,14.704502,0,301.564824,0,316.269326,0.15,0.25,0.8,11763.601438

In [16]:
# Calculate the month-over-month ECL charge
customerE['ECL MoM Charge'] = customerE['ECL'].diff()
customerE.loc[0, 'ECL MoM Charge'] = customerE.loc[0, 'ECL']  # Set the first value to the first ECL

# Calculate Profit and cumulative metrics
customerE['Profit'] = customerE['Total Revenue'] - customerE['ECL MoM Charge']
customerE['Cumulative Profit'] = customerE['Profit'].cumsum()

# Calculate the month-over-month change in Cumulative Profit
customerE['MoM Cumulative Profit Change'] = customerE['Cumulative Profit'].diff()
customerE.loc[0, 'MoM Cumulative Profit Change'] = customerE.loc[0, 'Cumulative Profit']  # Set the first value

In [17]:

customerE.head(100)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit,...,Annual_Fee,Total Revenue,GT90_Weight,GT50_Weight,ECL Ratio,ECL,ECL MoM Charge,Profit,Cumulative Profit,MoM Cumulative Profit Change
0,101708,40,M,College,Single,$120k+,189000,2020-12-31,1,15000.0,...,0,96.120678,0.00,0.00,0.0,0.000000,0.000000,96.120678,96.120678,96.120678
1,101708,41,M,College,Single,$120k+,189000,2021-01-31,2,15000.0,...,0,100.676969,0.00,0.00,0.0,0.000000,0.000000,100.676969,196.797647,100.676969
2,101708,41,M,College,Single,$120k+,189000,2021-02-28,3,15000.0,...,0,101.083659,0.00,0.00,0.0,0.000000,0.000000,101.083659,297.881307,101.083659
3,101708,41,M,College,Single,$120k+,189000,2021-03-31,4,15000.0,...,0,85.161300,0.00,0.00,0.0,0.000000,0.000000,85.161300,383.042607,85.161300
4,101708,41,M,College,Single,$120k+,189000,2021-04-30,5,15000.0,...,0,101.733925,0.00,0.00,0.0,0.000000,0.000000,101.733925,484.776532,101.733925
5,101708,41,M,College,Single,$120k+,189000,2021-05-31,6,15000.0,...,0,91.373300,0.00,0.00,0.0,0.000000,0.000000,91.373300,576.149832,91.373300
6,101708,41,M,College,Single,$120k+,189000,2021-06-30,7,15000.0,...,0,84.250432,0.00,0.00,0.0,0.000000,0.000000,84.250432,660.400264,84.250432
7,101708,41,M,College,Single,$120k+,189000,2021-07-31,8,15000.0,...,0,85.357738,0.00,0.00,0.0,0.000000,0.000000,85.357738,745.758002,85.357738
8,101708,41,M,College,Single,$120k+,189000,2021-08-31,9,15000.0,...,0,93.479896,0.00,0.00,0.0,0.000000,0.000000,93.479896,839.237898,93.479896
9,101708,41,M,College,Single,$120k+,189000,2021-09-30,10,15000.0,...,0,85.544663,0.00,0.00,0.0,0.000000,0.000000,85.544663,924.782561,85.544663
10,101708,41,M,College,Single,$120k+,189000,2021-10-31,11,15000.0,...,0,91.936360,0.00,0.00,0.0,0.000000,0.000000,91.936360,1016.718921,91.936360
11,101708,41,M,College,Single,$120k+,189000,2021-11-30,12,15000.0,...,100,191.553513,0.00,0.00,0.0,0.000000,0.000000,191.553513,1208.272434,191.553513
12,101708,41,M,College,Single,$120k+,189000,2021-12-31,13,15000.0,...,0,84.654350,0.00,0.00,0.0,0.000000,0.000000,84.654350,1292.926784,84.654350
13,101708,42,M,College,Single,$120k+,189000,2022-01-31,14,15000.0,...,0,97.282350,0.00,0.00,0.0,0.000000,0.000000,97.282350,1390.209134,97.282350
14,101708,42,M,College,Single,$120k+,189000,2022-02-28,15,15000.0,...,0,90.139448,0.00,0.00,0.0,0.000000,0.000000,90.139448,1480.348583,90.139448
15,101708,42,M,College,Single,$120k+,189000,2022-03-31,16,15000.0,...,0,89.756922,0.00,0.00,0.0,0.000000,0.000000,89.756922,1570.105505,89.756922
16,101708,42,M,College,Single,$120k+,189000,2022-04-30,17,15000.0,...,0,91.639232,0.00,0.00,0.0,0.000000,0.000000,91.639232,1661.744737,91.639232
17,101708,42,M,College,Single,$120k+,189000,2022-05-31,18,15000.0,...,0,89.046411,0.00,0.00,0.0,0.000000,0.000000,89.046411,1750.791148,89.046411
18,101708,42,M,College,Single,$120k+,189000,2022-06-30,19,15000.0,...,0,91.561710,0.00,0.00,0.0,0.000000,0.000000,91.561710,1842.352858,91.561710
19,101708,42,M,College,Single,$120k+,189000,2022-07-31,20,15000.0,...,0,94.771997,0.00,0.00,0.0,0.000000,0.000000,94.771997,1937.124854,94.771997
20,101708,42,M,College,Single,$120k+,189000,2022-08-31,21,15000.0,...,0,84.720633,0.00,0.00,0.0,0.000000,0.000000,84.720633,2021.845487,84.720633
21,101708,42,M,College,Single,$120k+,189000,2022-09-30,22,15000.0,...,0,93.153531,0.00,0.00,0.0,0.000000,0.000000,93.153531,2114.999018,93.153531
22,101708,42,M,College,Single,$120k+,189000,2022-10-31,23,15000.0,...,0,90.477473,0.00,0.00,0.0,0.000000,0.000000,90.477473,2205.476491,90.477473
23,101708,42,M,College,Single,$120k+,189000,2022-11-30,24,15000.0,...,100,199.462327,0.00,0.00,0.0,0.000000,0.000000,199.462327,2404.938818,199.462327
24,101708,42,M,College,Single,$120k+,189000,2022-12-31,25,15000.0,...,0,102.118437,0.00,0.00,0.0,0.000000,0.000000,102.118437,2507.057255,102.118437
25,101708,43,M,College,Single,$120k+,189000,2023-01-31,26,15000.0,...,0,90.753758,0.00,0.00,0.0,0.000000,0.000000,90.753758,2597.811013,90.753758
26,101708,43,M,College,Single,$120k+,189000,2023-02-28,27,15000.0,...,0,97.576129,0.00,0.00,0.0,0.000000,0.000000,97.576129,2695.387142,97.576129
27,101708,43,M,College,Single,$120k+,189000,2023-03-31,28,15000.0,...,0,103.756448,0.00,0.00,0.0,0.000000,0.000000,103.756448,2799.143590,103.756448
28,101708,43,M,College,Single,$120k+,189000,2023-04-30,29,15000.0,...,0,104.942777,0.00,0.00,0.0,0.000000,0.000000,104.942777,2904.086366,104.942777
29,101708,43,M,College,Single,$120k+,189000,2023-05-31,30,15000.0,...,0,98.291832,0.00,0.00,0.0,0.000000,0.000000,98.291832,3002.378198,98.291832
30,101708,43,M,College,Single,$120k+,189000,2023-06-30,31,15000.0,...,0,97.012563,0.00,0.00,0.0,0.000000,0.000000,97.012563,3099.390761,97.012563
31,101708,43,M,College,Single,$120k+,189000,2023-07-31,32,15000.0,...,0,89.270296,0.00,0.00,0.0,0.000000,0.000000,89.270296,3188.661057,89.270296
32,101708,43,M,College,Single,$120k+,189000,2023-08-31,33,15000.0,...,0,84.861910,0.00,0.00,0.0,0.000000,0.000000,84.861910,3273.522967,84.861910
33,101708,43,M,College,Single,$120k+,189000,2023-09-30,34,15000.0,...,0,86.653340,0.00,0.00,0.0,0.000000,0.000000,86.653340,3360.176308,86.653340
34,101708,43,M,College,Single,$120k+,189000,2023-10-31,35,15000.0,...,0,87.714166,0.00,0.00,0.0,0.000000,0.000000,87.714166,3447.890473,87.714166
35,101708,43,M,College,Single,$120k+,189000,2023-11-30,36,15000.0,...,100,201.721601,0.00,0.00,0.0,0.000000,0.000000,201.721601,3649.612074,201.721601
36,101708,43,M,College,Single,$120k+,189000,2023-12-31,37,15000.0,...,0,100.788842,0.00,0.00,0.0,0.000000,0.000000,100.788842,3750.400917,100.788842
37,101708,44,M,College,Single,Less than $40k,0,2024-01-31,38,15000.0,...,0,63.795520,0.10,0.25,0.6,1967.226637,1967.226637,-1903.431117,1846.969800,-1903.431117
38,101708,44,M,College,Single,Less than $40k,0,2024-02-29,39,15000.0,...,0,64.140191,0.10,0.25,0.6,1977.855039,10.628402,53.511788,1900.481588,53.511788
39,101708,44,M,College,Single,Less than $40k,0,2024-03-31,40,15000.0,...,0,179.538013,0.10,0.25,0.6,5536.312887,3558.457848,-3378.919835,-1478.438246,-3378.919835
40,101708,44,M,College,Single,Less than $40k,0,2024-04-30,41,15000.0,...,0,238.260893,0.10,0.25,0.6,7347.117334,1810.804446,-1572.543554,-3050.981800,-1572.543554
41,101708,44,M,College,Single,Less than $40k,0,2024-05-31,42,15000.0,...,0,317.679887,0.15,0.25,0.8,11816.067083,4468.949749,-4151.269862,-7202.251662,-4151.269862
42,101708,44,M,College,Single,Less than $40k,0,2024-06-30,43,15000.0,...,0,319.840452,0.15,0.25,0.8,11896.429070,80.361987,239.478465,-6962.773197,239.478465
43,101708,44,M,College,Single,Less than $40k,0,2024-07-31,44,15000.0,...,0,321.685790,0.15,0.25,0.8,11965.066179,68.637109,253.048680,-6709.724517,253.048680
44,101708,44,M,College,Single,Less than $40k,0,2024-08-31,45,15000.0,...,0,318.786654,0.15,0.25,0.8,11857.233165,-107.833014,426.619668,-6283.104848,426.619668
45,101708,44,M,College,Single,Less than $40k,0,2024-09-30,46,15000.0,...,0,318.928104,0.15,0.25,0.8,11862.494382,5.261217,313.666887,-5969.437961,313.666887
46,101708,44,M,College,Single,Less than $40k,0,2024-10-31,47,15000.0,...,0,316.269326,0.15,0.25,0.8,11763.601438,-98.892944,415.162270,-5554.275691,415.162270

In [18]:
customerE.to_csv('customerE.csv')