In [1]:
import pandas as pd 
import numpy as np 
import os
from datetime import datetime, timedelta
import random

In [2]:
base_dir = os.path.dirname(os.path.abspath('data Customer C.ipynb'))
credit_case_study_folder = os.path.join(base_dir, 'Credit_EDA_case_study')
application_file_name = 'application_data.csv'

credit_case_study_data = pd.read_csv(os.path.join(credit_case_study_folder,application_file_name))
credit_case_study_data.head(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.0,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.0,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
credit_case_study_data = credit_case_study_data[[
    'SK_ID_CURR', 'DAYS_BIRTH', 'CODE_GENDER', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'AMT_INCOME_TOTAL'
]]
credit_case_study_data.head(10)

,SK_ID_CURR,DAYS_BIRTH,CODE_GENDER,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,AMT_INCOME_TOTAL
0,100002,-9461,M,Secondary / secondary special,Single / not married,202500.0
1,100003,-16765,F,Higher education,Married,270000.0
2,100004,-19046,M,Secondary / secondary special,Single / not married,67500.0
3,100006,-19005,F,Secondary / secondary special,Civil marriage,135000.0
4,100007,-19932,M,Secondary / secondary special,Single / not married,121500.0
5,100008,-16941,M,Secondary / secondary special,Married,99000.0
6,100009,-13778,F,Higher education,Married,171000.0
7,100010,-18850,M,Higher education,Married,360000.0
8,100011,-20099,F,Secondary / secondary special,Married,112500.0
9,100012,-14469,M,Secondary / secondary special,Single / not married,135000.0

In [4]:
rename_dict = {
    'SK_ID_CURR' : 'Customer ID', 
    'DAYS_BIRTH': 'Customer Age', 
    'CODE_GENDER': 'Gender', 
    'NAME_EDUCATION_TYPE': 'Education', 
    'NAME_FAMILY_STATUS': 'Marital Status', 
    'AMT_INCOME_TOTAL': 'Income Category'
}

credit_case_study_data = credit_case_study_data.rename(columns=rename_dict)
credit_case_study_data.head(10)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category
0,100002,-9461,M,Secondary / secondary special,Single / not married,202500.0
1,100003,-16765,F,Higher education,Married,270000.0
2,100004,-19046,M,Secondary / secondary special,Single / not married,67500.0
3,100006,-19005,F,Secondary / secondary special,Civil marriage,135000.0
4,100007,-19932,M,Secondary / secondary special,Single / not married,121500.0
5,100008,-16941,M,Secondary / secondary special,Married,99000.0
6,100009,-13778,F,Higher education,Married,171000.0
7,100010,-18850,M,Higher education,Married,360000.0
8,100011,-20099,F,Secondary / secondary special,Married,112500.0
9,100012,-14469,M,Secondary / secondary special,Single / not married,135000.0

In [5]:
credit_case_study_data['Customer Age'] = abs(credit_case_study_data['Customer Age']/365).astype(int)

credit_case_study_data['Income Numeric'] = credit_case_study_data['Income Category']
income_bins = [0, 40000, 60000, 80000, 100000, 120000, float('inf')]  
income_labels = ['Less than $40k', '$40k - $60k', '$60k to $80k', '$80k to $100k', '$100k to $120k', '$120k+']
credit_case_study_data['Income Category'] = pd.cut(credit_case_study_data['Income Category'], bins=income_bins, labels=income_labels, right=False)

education_mapping = {
    'Academic degree': 'College',
    'Higher education': 'Graduate',
    'Incomplete higher': 'College',
    'Lower secondary': 'Junior High School',
    'Secondary / secondary special': 'High School'
}
credit_case_study_data['Education'] = credit_case_study_data['Education'].map(education_mapping)

Marital_mapping = {
    'Civil marriage': 'Married',
    'Married': 'Married',
    'Seperated': 'Divorced',
    'Single / not married': 'Single',
    'Widow': 'Divorced',
    'Unknown': 'Unknown'
}
credit_case_study_data['Marital Status'] = credit_case_study_data['Marital Status'].map(Marital_mapping)


credit_case_study_data.head(10)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric
0,100002,25,M,High School,Single,$120k+,202500.0
1,100003,45,F,Graduate,Married,$120k+,270000.0
2,100004,52,M,High School,Single,$60k to $80k,67500.0
3,100006,52,F,High School,Married,$120k+,135000.0
4,100007,54,M,High School,Single,$120k+,121500.0
5,100008,46,M,High School,Married,$80k to $100k,99000.0
6,100009,37,F,Graduate,Married,$120k+,171000.0
7,100010,51,M,Graduate,Married,$120k+,360000.0
8,100011,55,F,High School,Married,$100k to $120k,112500.0
9,100012,39,M,High School,Single,$120k+,135000.0

In [6]:
filtered_data = credit_case_study_data[
    (credit_case_study_data['Customer Age'] < 34) &
    (credit_case_study_data['Customer Age'] > 30) &
    (credit_case_study_data['Education'] == 'College') &
    (credit_case_study_data['Gender'] == 'M') &
    (credit_case_study_data['Marital Status'] == 'Single') &
    (credit_case_study_data['Income Category'] == '$100k to $120k')
]

filtered_data.head(10)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric
4601,105382,32,M,College,Single,$100k to $120k,112500.0
69739,180904,31,M,College,Single,$100k to $120k,112500.0
109532,227033,32,M,College,Single,$100k to $120k,112500.0
133175,254457,31,M,College,Single,$100k to $120k,112500.0
137033,258933,32,M,College,Single,$100k to $120k,112500.0
150170,274088,32,M,College,Single,$100k to $120k,112500.0
156340,281225,33,M,College,Single,$100k to $120k,112500.0
166653,293199,33,M,College,Single,$100k to $120k,112500.0

In [7]:
customerC = credit_case_study_data[
    (credit_case_study_data['Customer ID'] ==  105382) 
]

customerC.head(10)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric
4601,105382,32,M,College,Single,$100k to $120k,112500.0

In [8]:
customerC['Snapshot Month'] = pd.to_datetime('2017-7-31')
customerC['Month on Book'] = 1
customerC['Credit_Limit'] = (customerC['Income Numeric'] * 0.12).round(-3)

start_date = pd.to_datetime('2017-7-31')
end_date = pd.to_datetime('2021-12-31')
dates = pd.date_range(start=start_date, end=end_date, freq='M')

# Create the new DataFrame with time series data
time_series_customerC = []

# Iterate through the dates to generate the rows
for date in dates:
    # Copy the customer data for each row
    new_row = customerC.copy()
    
    # Update snapshot month to the current date
    new_row['Snapshot Month'] = date
    
    # Update Customer Age: +1 every year
    new_row['Customer Age'] = customerC['Customer Age'] + (date.year - start_date.year)
    
    # Update MoB: +1 for each row
    new_row['Month on Book'] = customerC['Month on Book'] + (date.year - start_date.year) * 12 + (date.month - start_date.month)
    
    # Append the new row to the list
    time_series_customerC.append(new_row)
    
# Concatenate all rows into a single DataFrame
customerC = pd.concat(time_series_customerC, ignore_index=True)

customerC.head(10)

C:\Users\BHuang\AppData\Local\Temp\ipykernel_12260\1117023505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customerC['Snapshot Month'] = pd.to_datetime('2017-7-31')
C:\Users\BHuang\AppData\Local\Temp\ipykernel_12260\1117023505.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customerC['Month on Book'] = 1
C:\Users\BHuang\AppData\Local\Temp\ipykernel_12260\1117023505.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customerC['Credit_Limit'] = (customerC['Income Numeric'] * 0.12).round(-3)
C:\Users\BHuang\AppData\Local\Temp\ipykernel_12260\1117023505.py:7: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(start=start_date, end=end_date, freq='M')

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit
0,105382,32,M,College,Single,$100k to $120k,112500.0,2017-07-31,1,14000.0
1,105382,32,M,College,Single,$100k to $120k,112500.0,2017-08-31,2,14000.0
2,105382,32,M,College,Single,$100k to $120k,112500.0,2017-09-30,3,14000.0
3,105382,32,M,College,Single,$100k to $120k,112500.0,2017-10-31,4,14000.0
4,105382,32,M,College,Single,$100k to $120k,112500.0,2017-11-30,5,14000.0
5,105382,32,M,College,Single,$100k to $120k,112500.0,2017-12-31,6,14000.0
6,105382,33,M,College,Single,$100k to $120k,112500.0,2018-01-31,7,14000.0
7,105382,33,M,College,Single,$100k to $120k,112500.0,2018-02-28,8,14000.0
8,105382,33,M,College,Single,$100k to $120k,112500.0,2018-03-31,9,14000.0
9,105382,33,M,College,Single,$100k to $120k,112500.0,2018-04-30,10,14000.0

In [9]:
initial_fico = 750
min_utilization = 0.13
max_utilization = 0.20
risk_start_date = pd.to_datetime('2019-11-30')  # Starting point for Delinquency
max_peak_utilization = 0.99  # Peak utilization during Delinquency period
fico_deterioration_rate = 5  # Deterioration in FICO score per 10% increase in utilization
fico_fluctuation_rate = 1
external_bank_credit_card_max_util_greater_than_50_base = 0
external_bank_credit_card_max_util_greater_than_90_base = 0
credit_inquiy_base = 0


# Function to adjust FICO based on utilization
def calculate_fico(utilization, fico_score):
    # FICO deteriorates as utilization increases
    if utilization > 0.20:
        fico_deduction = fico_deterioration_rate * ((utilization - 0.20) // 0.10)
        fico_score = max(fico_score - fico_deduction, 300)  # FICO score can't go below 300
    return fico_score

# Function to adjust FICO based on utilization
def fluctuate_fico(utilization, fico_score):
    fico_deduction = fico_fluctuation_rate * ((utilization - 0.20) // 0.025)
    fico_score = max(fico_score - fico_deduction, 300) 
    return fico_score

# Function to generate monthly utilization and FICO
def generate_utilization_fico(df):
    fico_scores = []
    utilizations = []
    external_bank_credit_card_max_util_greater_than_50 = []
    external_bank_credit_card_max_util_greater_than_90 = []
    credit_inquiries = []
    
    for index, row in df.iterrows():
        snapshot_date = row['Snapshot Month']
        MoB = row['Month on Book']
        
        if snapshot_date < risk_start_date:
            utilization = random.uniform(min_utilization, max_utilization)
            fico_score = fluctuate_fico(utilization, initial_fico)
            credit_card_max_util_greater_than_50 = external_bank_credit_card_max_util_greater_than_50_base
            credit_card_max_util_greater_than_90 = external_bank_credit_card_max_util_greater_than_90_base
            if MoB <= 12:
                credit_inquiry = credit_inquiy_base
            else:
                credit_inquiry = 0
        else:
            months_since_risk_start_date = (snapshot_date - risk_start_date).days // 30
            
            if months_since_risk_start_date <= 3:
                # First 4 months: 
                utilization = random.uniform(min_utilization, max_utilization)
                credit_card_max_util_greater_than_50 = external_bank_credit_card_max_util_greater_than_50_base 
                credit_card_max_util_greater_than_90 = external_bank_credit_card_max_util_greater_than_90_base 
                credit_inquiry = credit_inquiy_base + 3

            elif 4 <= months_since_risk_start_date <= 11:
                # Months 5-11: 2% increase
                utilization =  0.20 + 0.02 * months_since_risk_start_date + random.uniform(0.01,0.02)  
                credit_card_max_util_greater_than_50 = external_bank_credit_card_max_util_greater_than_50_base + 1
                credit_card_max_util_greater_than_90 = external_bank_credit_card_max_util_greater_than_90_base 
                credit_inquiry = credit_inquiy_base + 3

            elif 12 <= months_since_risk_start_date <= 14:
                # Months 12-14: larger increase (more than 5% increase)
                utilization = min(0.36 + 0.05 * (months_since_risk_start_date - 11) + random.uniform(0.01,0.02), 0.55 + random.uniform(0.01,0.02))  #min(0.45 + 0.10 * (months_since_risk_start_date - 11) + random.uniform(0.01,0.02), 0.79 + random.uniform(0.01,0.02) )
                credit_card_max_util_greater_than_50 = external_bank_credit_card_max_util_greater_than_50_base + 2
                credit_card_max_util_greater_than_90 = external_bank_credit_card_max_util_greater_than_90_base + 1
                credit_inquiry = credit_inquiy_base + 4

            elif 14 <= months_since_risk_start_date <= 19:
                # Months 14-19: larger increase (more than 7% increase)
                utilization = min(0.55 + 0.07 * (months_since_risk_start_date - 14) + random.uniform(0.01,0.02), 0.95 + random.uniform(0.01,0.02))  #min(0.45 + 0.10 * (months_since_risk_start_date - 11) + random.uniform(0.01,0.02), 0.79 + random.uniform(0.01,0.02) )
                credit_card_max_util_greater_than_50 = external_bank_credit_card_max_util_greater_than_50_base + 3
                credit_card_max_util_greater_than_90 = external_bank_credit_card_max_util_greater_than_90_base + 2
                credit_inquiry = credit_inquiy_base + 4

            else:
                # After reaching 90%, slow increase by 0.8% per month
                utilization = min(0.95 + 0.008 * (months_since_risk_start_date - 19) + random.uniform(0.005,0.009), max_peak_utilization)
                credit_card_max_util_greater_than_50 = external_bank_credit_card_max_util_greater_than_50_base + 4
                credit_card_max_util_greater_than_90 = external_bank_credit_card_max_util_greater_than_90_base + 4
                credit_inquiry = credit_inquiy_base + 4
                
            fico_score = calculate_fico(utilization, initial_fico)

        utilizations.append(utilization)
        fico_scores.append(fico_score)
        external_bank_credit_card_max_util_greater_than_50.append(credit_card_max_util_greater_than_50)
        external_bank_credit_card_max_util_greater_than_90.append(credit_card_max_util_greater_than_90)
        credit_inquiries.append(credit_inquiry)
    
    df['Utilization'] = utilizations
    df['FICO'] = fico_scores
    df['external_bank_credit_card_max_util_greater_than_50'] = external_bank_credit_card_max_util_greater_than_50
    df['external_bank_credit_card_max_util_greater_than_90'] = external_bank_credit_card_max_util_greater_than_90
    df['Credit_Inquiries'] = credit_inquiries
    return df

# Generate the utilization and FICO for the customerC DataFrame
customerC = generate_utilization_fico(customerC)

customerC.head(100)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit,Utilization,FICO,external_bank_credit_card_max_util_greater_than_50,external_bank_credit_card_max_util_greater_than_90,Credit_Inquiries
0,105382,32,M,College,Single,$100k to $120k,112500.0,2017-07-31,1,14000.0,0.198003,751.0,0,0,0
1,105382,32,M,College,Single,$100k to $120k,112500.0,2017-08-31,2,14000.0,0.171242,752.0,0,0,0
2,105382,32,M,College,Single,$100k to $120k,112500.0,2017-09-30,3,14000.0,0.181813,751.0,0,0,0
3,105382,32,M,College,Single,$100k to $120k,112500.0,2017-10-31,4,14000.0,0.148353,753.0,0,0,0
4,105382,32,M,College,Single,$100k to $120k,112500.0,2017-11-30,5,14000.0,0.181531,751.0,0,0,0
5,105382,32,M,College,Single,$100k to $120k,112500.0,2017-12-31,6,14000.0,0.163008,752.0,0,0,0
6,105382,33,M,College,Single,$100k to $120k,112500.0,2018-01-31,7,14000.0,0.181140,751.0,0,0,0
7,105382,33,M,College,Single,$100k to $120k,112500.0,2018-02-28,8,14000.0,0.182205,751.0,0,0,0
8,105382,33,M,College,Single,$100k to $120k,112500.0,2018-03-31,9,14000.0,0.171825,752.0,0,0,0
9,105382,33,M,College,Single,$100k to $120k,112500.0,2018-04-30,10,14000.0,0.163462,752.0,0,0,0
10,105382,33,M,College,Single,$100k to $120k,112500.0,2018-05-31,11,14000.0,0.156186,752.0,0,0,0
11,105382,33,M,College,Single,$100k to $120k,112500.0,2018-06-30,12,14000.0,0.138480,753.0,0,0,0
12,105382,33,M,College,Single,$100k to $120k,112500.0,2018-07-31,13,14000.0,0.173897,752.0,0,0,0
13,105382,33,M,College,Single,$100k to $120k,112500.0,2018-08-31,14,14000.0,0.142598,753.0,0,0,0
14,105382,33,M,College,Single,$100k to $120k,112500.0,2018-09-30,15,14000.0,0.180038,751.0,0,0,0
15,105382,33,M,College,Single,$100k to $120k,112500.0,2018-10-31,16,14000.0,0.198556,751.0,0,0,0
16,105382,33,M,College,Single,$100k to $120k,112500.0,2018-11-30,17,14000.0,0.186794,751.0,0,0,0
17,105382,33,M,College,Single,$100k to $120k,112500.0,2018-12-31,18,14000.0,0.188965,751.0,0,0,0
18,105382,34,M,College,Single,$100k to $120k,112500.0,2019-01-31,19,14000.0,0.169956,752.0,0,0,0
19,105382,34,M,College,Single,$100k to $120k,112500.0,2019-02-28,20,14000.0,0.136923,753.0,0,0,0
20,105382,34,M,College,Single,$100k to $120k,112500.0,2019-03-31,21,14000.0,0.162825,752.0,0,0,0
21,105382,34,M,College,Single,$100k to $120k,112500.0,2019-04-30,22,14000.0,0.198604,751.0,0,0,0
22,105382,34,M,College,Single,$100k to $120k,112500.0,2019-05-31,23,14000.0,0.153924,752.0,0,0,0
23,105382,34,M,College,Single,$100k to $120k,112500.0,2019-06-30,24,14000.0,0.143016,753.0,0,0,0
24,105382,34,M,College,Single,$100k to $120k,112500.0,2019-07-31,25,14000.0,0.182513,751.0,0,0,0
25,105382,34,M,College,Single,$100k to $120k,112500.0,2019-08-31,26,14000.0,0.195877,751.0,0,0,0
26,105382,34,M,College,Single,$100k to $120k,112500.0,2019-09-30,27,14000.0,0.190030,751.0,0,0,0
27,105382,34,M,College,Single,$100k to $120k,112500.0,2019-10-31,28,14000.0,0.140587,753.0,0,0,0
28,105382,34,M,College,Single,$100k to $120k,112500.0,2019-11-30,29,14000.0,0.197508,750.0,0,0,3
29,105382,34,M,College,Single,$100k to $120k,112500.0,2019-12-31,30,14000.0,0.161457,750.0,0,0,3
30,105382,35,M,College,Single,$100k to $120k,112500.0,2020-01-31,31,14000.0,0.183474,750.0,0,0,3
31,105382,35,M,College,Single,$100k to $120k,112500.0,2020-02-29,32,14000.0,0.174316,750.0,0,0,3
32,105382,35,M,College,Single,$100k to $120k,112500.0,2020-03-31,33,14000.0,0.299284,750.0,1,0,3
33,105382,35,M,College,Single,$100k to $120k,112500.0,2020-04-30,34,14000.0,0.316470,745.0,1,0,3
34,105382,35,M,College,Single,$100k to $120k,112500.0,2020-05-31,35,14000.0,0.332782,745.0,1,0,3
35,105382,35,M,College,Single,$100k to $120k,112500.0,2020-06-30,36,14000.0,0.356792,745.0,1,0,3
36,105382,35,M,College,Single,$100k to $120k,112500.0,2020-07-31,37,14000.0,0.370644,745.0,1,0,3
37,105382,35,M,College,Single,$100k to $120k,112500.0,2020-08-31,38,14000.0,0.394751,745.0,1,0,3
38,105382,35,M,College,Single,$100k to $120k,112500.0,2020-09-30,39,14000.0,0.414292,740.0,1,0,3
39,105382,35,M,College,Single,$100k to $120k,112500.0,2020-10-31,40,14000.0,0.434825,740.0,1,0,3
40,105382,35,M,College,Single,$100k to $120k,112500.0,2020-11-30,41,14000.0,0.421297,740.0,2,1,4
41,105382,35,M,College,Single,$100k to $120k,112500.0,2020-12-31,42,14000.0,0.478534,740.0,2,1,4
42,105382,36,M,College,Single,$100k to $120k,112500.0,2021-01-31,43,14000.0,0.528661,735.0,2,1,4
43,105382,36,M,College,Single,$100k to $120k,112500.0,2021-02-28,44,14000.0,0.636072,730.0,3,2,4
44,105382,36,M,College,Single,$100k to $120k,112500.0,2021-03-31,45,14000.0,0.704531,725.0,3,2,4
45,105382,36,M,College,Single,$100k to $120k,112500.0,2021-04-30,46,14000.0,0.778744,725.0,3,2,4
46,105382,36,M,College,Single,$100k to $120k,112500.0,2021-05-31,47,14000.0,0.841679,720.0,3,2,4
47,105382,36,M,College,Single,$100k to $120k,112500.0,2021-06-30,48,14000.0,0.917789,715.0,3,2,4
48,105382,36,M,College,Single,$100k to $120k,112500.0,2021-07-31,49,14000.0,0.965295,715.0,4,4,4
49,105382,36,M,College,Single,$100k to $120k,112500.0,2021-08-31,50,14000.0,0.971051,715.0,4,4,4
50,105382,36,M,College,Single,$100k to $120k,112500.0,2021-09-30,51,14000.0,0.981928,715.0,4,4,4
51,105382,36,M,College,Single,$100k to $120k,112500.0,2021-10-31,52,14000.0,0.989957,715.0,4,4,4
52,105382,36,M,College,Single,$100k to $120k,112500.0,2021-11-30,53,14000.0,0.990000,715.0,4,4,4
53,105382,36,M,College,Single,$100k to $120k,112500.0,2021-12-31,54,14000.0,0.990000,715.0,4,4,4

In [10]:
customerC = customerC.sort_values(by='Month on Book', ascending=False)

customerC['Delinquency'] = 0
max_Delinquency = 7
for i in range(max_Delinquency + 1):
    if i < len(customerC):
        customerC.iloc[i, customerC.columns.get_loc('Delinquency')] = max_Delinquency - i
        customerC.iloc[i, customerC.columns.get_loc('FICO')] = customerC.iloc[i, customerC.columns.get_loc('FICO')] - (max_Delinquency - i)*20

# pre_risk_data = customerC[(customerC['Snapshot Month'] < risk_start_date) & (customerC['Month on Book']>=3)]
# if not pre_risk_data.empty:
#     highest_utilization_index = pre_risk_data['Utilization'].idxmax()
#     # Set the Delinquency of the highest utilization row to 1
#     customerC.at[highest_utilization_index, 'Delinquency'] = 1

customerC = customerC.sort_values(by='Snapshot Month').reset_index(drop=True)

In [11]:
Revolving_balance_base = 0


# Function to generate monthly revolving balance
def generate_revolving_balance(df):
    revolving_balance = []
    
    for index, row in df.iterrows():
        snapshot_date = row['Snapshot Month']
        credit_limit = row['Credit_Limit']
        utilization = row['Utilization']
        
        if snapshot_date < risk_start_date:
            revolving_bal = Revolving_balance_base
        else:
            months_since_risk_start_date = (snapshot_date - risk_start_date).days // 30
            
            if months_since_risk_start_date <= 3:
                # First 4 months: 
                revolving_bal = Revolving_balance_base

            elif 4 <= months_since_risk_start_date <= 19:
                revolving_bal = 0.85 * credit_limit * utilization

            else:
                revolving_bal = credit_limit * utilization

        revolving_balance.append(revolving_bal)
    
    df['Revolving_Bal'] = revolving_balance

    return df

# Generate the utilization and FICO for the customerC DataFrame
customerC = generate_revolving_balance(customerC)

revolving_balance_delinquency_3 = customerC.loc[customerC['Delinquency'] == 3, 'Revolving_Bal'].iloc[0]
customerC.loc[customerC['Delinquency'] > 3, 'Revolving_Bal'] = revolving_balance_delinquency_3

customerC.head(100)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit,Utilization,FICO,external_bank_credit_card_max_util_greater_than_50,external_bank_credit_card_max_util_greater_than_90,Credit_Inquiries,Delinquency,Revolving_Bal
0,105382,32,M,College,Single,$100k to $120k,112500.0,2017-07-31,1,14000.0,0.198003,751.0,0,0,0,0,0.000000
1,105382,32,M,College,Single,$100k to $120k,112500.0,2017-08-31,2,14000.0,0.171242,752.0,0,0,0,0,0.000000
2,105382,32,M,College,Single,$100k to $120k,112500.0,2017-09-30,3,14000.0,0.181813,751.0,0,0,0,0,0.000000
3,105382,32,M,College,Single,$100k to $120k,112500.0,2017-10-31,4,14000.0,0.148353,753.0,0,0,0,0,0.000000
4,105382,32,M,College,Single,$100k to $120k,112500.0,2017-11-30,5,14000.0,0.181531,751.0,0,0,0,0,0.000000
5,105382,32,M,College,Single,$100k to $120k,112500.0,2017-12-31,6,14000.0,0.163008,752.0,0,0,0,0,0.000000
6,105382,33,M,College,Single,$100k to $120k,112500.0,2018-01-31,7,14000.0,0.181140,751.0,0,0,0,0,0.000000
7,105382,33,M,College,Single,$100k to $120k,112500.0,2018-02-28,8,14000.0,0.182205,751.0,0,0,0,0,0.000000
8,105382,33,M,College,Single,$100k to $120k,112500.0,2018-03-31,9,14000.0,0.171825,752.0,0,0,0,0,0.000000
9,105382,33,M,College,Single,$100k to $120k,112500.0,2018-04-30,10,14000.0,0.163462,752.0,0,0,0,0,0.000000
10,105382,33,M,College,Single,$100k to $120k,112500.0,2018-05-31,11,14000.0,0.156186,752.0,0,0,0,0,0.000000
11,105382,33,M,College,Single,$100k to $120k,112500.0,2018-06-30,12,14000.0,0.138480,753.0,0,0,0,0,0.000000
12,105382,33,M,College,Single,$100k to $120k,112500.0,2018-07-31,13,14000.0,0.173897,752.0,0,0,0,0,0.000000
13,105382,33,M,College,Single,$100k to $120k,112500.0,2018-08-31,14,14000.0,0.142598,753.0,0,0,0,0,0.000000
14,105382,33,M,College,Single,$100k to $120k,112500.0,2018-09-30,15,14000.0,0.180038,751.0,0,0,0,0,0.000000
15,105382,33,M,College,Single,$100k to $120k,112500.0,2018-10-31,16,14000.0,0.198556,751.0,0,0,0,0,0.000000
16,105382,33,M,College,Single,$100k to $120k,112500.0,2018-11-30,17,14000.0,0.186794,751.0,0,0,0,0,0.000000
17,105382,33,M,College,Single,$100k to $120k,112500.0,2018-12-31,18,14000.0,0.188965,751.0,0,0,0,0,0.000000
18,105382,34,M,College,Single,$100k to $120k,112500.0,2019-01-31,19,14000.0,0.169956,752.0,0,0,0,0,0.000000
19,105382,34,M,College,Single,$100k to $120k,112500.0,2019-02-28,20,14000.0,0.136923,753.0,0,0,0,0,0.000000
20,105382,34,M,College,Single,$100k to $120k,112500.0,2019-03-31,21,14000.0,0.162825,752.0,0,0,0,0,0.000000
21,105382,34,M,College,Single,$100k to $120k,112500.0,2019-04-30,22,14000.0,0.198604,751.0,0,0,0,0,0.000000
22,105382,34,M,College,Single,$100k to $120k,112500.0,2019-05-31,23,14000.0,0.153924,752.0,0,0,0,0,0.000000
23,105382,34,M,College,Single,$100k to $120k,112500.0,2019-06-30,24,14000.0,0.143016,753.0,0,0,0,0,0.000000
24,105382,34,M,College,Single,$100k to $120k,112500.0,2019-07-31,25,14000.0,0.182513,751.0,0,0,0,0,0.000000
25,105382,34,M,College,Single,$100k to $120k,112500.0,2019-08-31,26,14000.0,0.195877,751.0,0,0,0,0,0.000000
26,105382,34,M,College,Single,$100k to $120k,112500.0,2019-09-30,27,14000.0,0.190030,751.0,0,0,0,0,0.000000
27,105382,34,M,College,Single,$100k to $120k,112500.0,2019-10-31,28,14000.0,0.140587,753.0,0,0,0,0,0.000000
28,105382,34,M,College,Single,$100k to $120k,112500.0,2019-11-30,29,14000.0,0.197508,750.0,0,0,3,0,0.000000
29,105382,34,M,College,Single,$100k to $120k,112500.0,2019-12-31,30,14000.0,0.161457,750.0,0,0,3,0,0.000000
30,105382,35,M,College,Single,$100k to $120k,112500.0,2020-01-31,31,14000.0,0.183474,750.0,0,0,3,0,0.000000
31,105382,35,M,College,Single,$100k to $120k,112500.0,2020-02-29,32,14000.0,0.174316,750.0,0,0,3,0,0.000000
32,105382,35,M,College,Single,$100k to $120k,112500.0,2020-03-31,33,14000.0,0.299284,750.0,1,0,3,0,3561.479032
33,105382,35,M,College,Single,$100k to $120k,112500.0,2020-04-30,34,14000.0,0.316470,745.0,1,0,3,0,3765.998763
34,105382,35,M,College,Single,$100k to $120k,112500.0,2020-05-31,35,14000.0,0.332782,745.0,1,0,3,0,3960.103228
35,105382,35,M,College,Single,$100k to $120k,112500.0,2020-06-30,36,14000.0,0.356792,745.0,1,0,3,0,4245.819271
36,105382,35,M,College,Single,$100k to $120k,112500.0,2020-07-31,37,14000.0,0.370644,745.0,1,0,3,0,4410.669326
37,105382,35,M,College,Single,$100k to $120k,112500.0,2020-08-31,38,14000.0,0.394751,745.0,1,0,3,0,4697.532464
38,105382,35,M,College,Single,$100k to $120k,112500.0,2020-09-30,39,14000.0,0.414292,740.0,1,0,3,0,4930.071628
39,105382,35,M,College,Single,$100k to $120k,112500.0,2020-10-31,40,14000.0,0.434825,740.0,1,0,3,0,5174.411965
40,105382,35,M,College,Single,$100k to $120k,112500.0,2020-11-30,41,14000.0,0.421297,740.0,2,1,4,0,5013.432774
41,105382,35,M,College,Single,$100k to $120k,112500.0,2020-12-31,42,14000.0,0.478534,740.0,2,1,4,0,5694.555116
42,105382,36,M,College,Single,$100k to $120k,112500.0,2021-01-31,43,14000.0,0.528661,735.0,2,1,4,0,6291.068514
43,105382,36,M,College,Single,$100k to $120k,112500.0,2021-02-28,44,14000.0,0.636072,730.0,3,2,4,0,7569.254889
44,105382,36,M,College,Single,$100k to $120k,112500.0,2021-03-31,45,14000.0,0.704531,725.0,3,2,4,0,8383.924146
45,105382,36,M,College,Single,$100k to $120k,112500.0,2021-04-30,46,14000.0,0.778744,725.0,3,2,4,0,9267.052759
46,105382,36,M,College,Single,$100k to $120k,112500.0,2021-05-31,47,14000.0,0.841679,720.0,3,2,4,0,10015.974854
47,105382,36,M,College,Single,$100k to $120k,112500.0,2021-06-30,48,14000.0,0.917789,695.0,3,2,4,1,10921.683588
48,105382,36,M,College,Single,$100k to $120k,112500.0,2021-07-31,49,14000.0,0.965295,675.0,4,4,4,2,13514.124109
49,105382,36,M,College,Single,$100k to $120k,112500.0,2021-08-31,50,14000.0,0.971051,655.0,4,4,4,3,13594.719097
50,105382,36,M,College,Single,$100k to $120k,112500.0,2021-09-30,51,14000.0,0.981928,635.0,4,4,4,4,13594.719097
51,105382,36,M,College,Single,$100k to $120k,112500.0,2021-10-31,52,14000.0,0.989957,615.0,4,4,4,5,13594.719097
52,105382,36,M,College,Single,$100k to $120k,112500.0,2021-11-30,53,14000.0,0.990000,595.0,4,4,4,6,13594.719097
53,105382,36,M,College,Single,$100k to $120k,112500.0,2021-12-31,54,14000.0,0.990000,575.0,4,4,4,7,13594.719097

In [12]:
initial_debt = random.uniform(12500, 13000)  
debt_reduction = random.uniform(300, 350)  
new_debt = random.uniform(300000,350000)
new_debt_reduction = random.uniform(2000,2500)

# Function to generate monthly revolving balance
def generate_total_debt(df):
    total_debt = []
    dti = []
    i = 0
    j = 0
    for index, row in df.iterrows():
        snapshot_date = row['Snapshot Month']
        Revolving_Balance = row['Revolving_Bal']
        Income = row['Income Numeric']
        card_max_util_gt_50 =  row['external_bank_credit_card_max_util_greater_than_50']
        
        if snapshot_date < risk_start_date:
            total_debt_debt = initial_debt - debt_reduction*i
            i = i+1
            debt_to_income = debt_reduction / (Income/12)
        else:
            months_since_risk_start_date = (snapshot_date - risk_start_date).days // 30
            
            if months_since_risk_start_date <= 3:
                # First 4 months: 
                total_debt_debt = initial_debt - debt_reduction*(i-1) + new_debt - new_debt_reduction * j
                j = j + 1

                debt_to_income = (debt_reduction + new_debt_reduction) / (Income/12)

            else:
                total_debt_debt = initial_debt - debt_reduction*(i-1) + new_debt - new_debt_reduction * (j-1) - random.uniform(0,200) + (Revolving_Balance-Revolving_Balance_last_row)

                debt_to_income = (debt_reduction + new_debt_reduction  + Revolving_Balance*0.1*max(card_max_util_gt_50,2)) / (Income/12)
        
        Revolving_Balance_last_row = row['Revolving_Bal']

        total_debt.append(total_debt_debt)
        dti.append(debt_to_income)
    
    df['Total_Debt'] = total_debt
    df['Debt_to_Income_Ratio'] = dti

    return df

# Generate the utilization and FICO for the customerC DataFrame
customerC = generate_total_debt(customerC)

customerC.head(100)

# Assign the computed Total_Debt values to the DataFrame
# customerC['Total_Debt'] = total_debt_values
# customerC['Debt_to_Income_Ratio'] = (
#     np.random.uniform(500, 600, size=len(customerC)) + 
#     np.minimum(customerC['external_bank_credit_card_max_util_greater_than_50'] + 1, 3) * customerC['Revolving_Bal']
# ) / (customerC['Income Numeric'] / 12)

# customerC.head(50)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit,Utilization,FICO,external_bank_credit_card_max_util_greater_than_50,external_bank_credit_card_max_util_greater_than_90,Credit_Inquiries,Delinquency,Revolving_Bal,Total_Debt,Debt_to_Income_Ratio
0,105382,32,M,College,Single,$100k to $120k,112500.0,2017-07-31,1,14000.0,0.198003,751.0,0,0,0,0,0.000000,12816.655741,0.035310
1,105382,32,M,College,Single,$100k to $120k,112500.0,2017-08-31,2,14000.0,0.171242,752.0,0,0,0,0,0.000000,12485.626182,0.035310
2,105382,32,M,College,Single,$100k to $120k,112500.0,2017-09-30,3,14000.0,0.181813,751.0,0,0,0,0,0.000000,12154.596624,0.035310
3,105382,32,M,College,Single,$100k to $120k,112500.0,2017-10-31,4,14000.0,0.148353,753.0,0,0,0,0,0.000000,11823.567065,0.035310
4,105382,32,M,College,Single,$100k to $120k,112500.0,2017-11-30,5,14000.0,0.181531,751.0,0,0,0,0,0.000000,11492.537507,0.035310
5,105382,32,M,College,Single,$100k to $120k,112500.0,2017-12-31,6,14000.0,0.163008,752.0,0,0,0,0,0.000000,11161.507948,0.035310
6,105382,33,M,College,Single,$100k to $120k,112500.0,2018-01-31,7,14000.0,0.181140,751.0,0,0,0,0,0.000000,10830.478389,0.035310
7,105382,33,M,College,Single,$100k to $120k,112500.0,2018-02-28,8,14000.0,0.182205,751.0,0,0,0,0,0.000000,10499.448831,0.035310
8,105382,33,M,College,Single,$100k to $120k,112500.0,2018-03-31,9,14000.0,0.171825,752.0,0,0,0,0,0.000000,10168.419272,0.035310
9,105382,33,M,College,Single,$100k to $120k,112500.0,2018-04-30,10,14000.0,0.163462,752.0,0,0,0,0,0.000000,9837.389714,0.035310
10,105382,33,M,College,Single,$100k to $120k,112500.0,2018-05-31,11,14000.0,0.156186,752.0,0,0,0,0,0.000000,9506.360155,0.035310
11,105382,33,M,College,Single,$100k to $120k,112500.0,2018-06-30,12,14000.0,0.138480,753.0,0,0,0,0,0.000000,9175.330597,0.035310
12,105382,33,M,College,Single,$100k to $120k,112500.0,2018-07-31,13,14000.0,0.173897,752.0,0,0,0,0,0.000000,8844.301038,0.035310
13,105382,33,M,College,Single,$100k to $120k,112500.0,2018-08-31,14,14000.0,0.142598,753.0,0,0,0,0,0.000000,8513.271480,0.035310
14,105382,33,M,College,Single,$100k to $120k,112500.0,2018-09-30,15,14000.0,0.180038,751.0,0,0,0,0,0.000000,8182.241921,0.035310
15,105382,33,M,College,Single,$100k to $120k,112500.0,2018-10-31,16,14000.0,0.198556,751.0,0,0,0,0,0.000000,7851.212363,0.035310
16,105382,33,M,College,Single,$100k to $120k,112500.0,2018-11-30,17,14000.0,0.186794,751.0,0,0,0,0,0.000000,7520.182804,0.035310
17,105382,33,M,College,Single,$100k to $120k,112500.0,2018-12-31,18,14000.0,0.188965,751.0,0,0,0,0,0.000000,7189.153246,0.035310
18,105382,34,M,College,Single,$100k to $120k,112500.0,2019-01-31,19,14000.0,0.169956,752.0,0,0,0,0,0.000000,6858.123687,0.035310
19,105382,34,M,College,Single,$100k to $120k,112500.0,2019-02-28,20,14000.0,0.136923,753.0,0,0,0,0,0.000000,6527.094129,0.035310
20,105382,34,M,College,Single,$100k to $120k,112500.0,2019-03-31,21,14000.0,0.162825,752.0,0,0,0,0,0.000000,6196.064570,0.035310
21,105382,34,M,College,Single,$100k to $120k,112500.0,2019-04-30,22,14000.0,0.198604,751.0,0,0,0,0,0.000000,5865.035012,0.035310
22,105382,34,M,College,Single,$100k to $120k,112500.0,2019-05-31,23,14000.0,0.153924,752.0,0,0,0,0,0.000000,5534.005453,0.035310
23,105382,34,M,College,Single,$100k to $120k,112500.0,2019-06-30,24,14000.0,0.143016,753.0,0,0,0,0,0.000000,5202.975895,0.035310
24,105382,34,M,College,Single,$100k to $120k,112500.0,2019-07-31,25,14000.0,0.182513,751.0,0,0,0,0,0.000000,4871.946336,0.035310
25,105382,34,M,College,Single,$100k to $120k,112500.0,2019-08-31,26,14000.0,0.195877,751.0,0,0,0,0,0.000000,4540.916778,0.035310
26,105382,34,M,College,Single,$100k to $120k,112500.0,2019-09-30,27,14000.0,0.190030,751.0,0,0,0,0,0.000000,4209.887219,0.035310
27,105382,34,M,College,Single,$100k to $120k,112500.0,2019-10-31,28,14000.0,0.140587,753.0,0,0,0,0,0.000000,3878.857660,0.035310
28,105382,34,M,College,Single,$100k to $120k,112500.0,2019-11-30,29,14000.0,0.197508,750.0,0,0,3,0,0.000000,353771.898328,0.275308
29,105382,34,M,College,Single,$100k to $120k,112500.0,2019-12-31,30,14000.0,0.161457,750.0,0,0,3,0,0.000000,351521.911267,0.275308
30,105382,35,M,College,Single,$100k to $120k,112500.0,2020-01-31,31,14000.0,0.183474,750.0,0,0,3,0,0.000000,349271.924206,0.275308
31,105382,35,M,College,Single,$100k to $120k,112500.0,2020-02-29,32,14000.0,0.174316,750.0,0,0,3,0,0.000000,347021.937144,0.275308
32,105382,35,M,College,Single,$100k to $120k,112500.0,2020-03-31,33,14000.0,0.299284,750.0,1,0,3,0,3561.479032,350403.861805,0.351287
33,105382,35,M,College,Single,$100k to $120k,112500.0,2020-04-30,34,14000.0,0.316470,745.0,1,0,3,0,3765.998763,347061.420668,0.355650
34,105382,35,M,College,Single,$100k to $120k,112500.0,2020-05-31,35,14000.0,0.332782,745.0,1,0,3,0,3960.103228,347177.589879,0.359791
35,105382,35,M,College,Single,$100k to $120k,112500.0,2020-06-30,36,14000.0,0.356792,745.0,1,0,3,0,4245.819271,347192.279033,0.365886
36,105382,35,M,College,Single,$100k to $120k,112500.0,2020-07-31,37,14000.0,0.370644,745.0,1,0,3,0,4410.669326,347121.480026,0.369403
37,105382,35,M,College,Single,$100k to $120k,112500.0,2020-08-31,38,14000.0,0.394751,745.0,1,0,3,0,4697.532464,347207.910603,0.375522
38,105382,35,M,College,Single,$100k to $120k,112500.0,2020-09-30,39,14000.0,0.414292,740.0,1,0,3,0,4930.071628,347168.454578,0.380483
39,105382,35,M,College,Single,$100k to $120k,112500.0,2020-10-31,40,14000.0,0.434825,740.0,1,0,3,0,5174.411965,347144.016494,0.385696
40,105382,35,M,College,Single,$100k to $120k,112500.0,2020-11-30,41,14000.0,0.421297,740.0,2,1,4,0,5013.432774,346847.467244,0.382262
41,105382,35,M,College,Single,$100k to $120k,112500.0,2020-12-31,42,14000.0,0.478534,740.0,2,1,4,0,5694.555116,347689.070508,0.396792
42,105382,36,M,College,Single,$100k to $120k,112500.0,2021-01-31,43,14000.0,0.528661,735.0,2,1,4,0,6291.068514,347546.246616,0.409518
43,105382,36,M,College,Single,$100k to $120k,112500.0,2021-02-28,44,14000.0,0.636072,730.0,3,2,4,0,7569.254889,348113.498016,0.517525
44,105382,36,M,College,Single,$100k to $120k,112500.0,2021-03-31,45,14000.0,0.704531,725.0,3,2,4,0,8383.924146,347831.178069,0.543594
45,105382,36,M,College,Single,$100k to $120k,112500.0,2021-04-30,46,14000.0,0.778744,725.0,3,2,4,0,9267.052759,347852.031107,0.571854
46,105382,36,M,College,Single,$100k to $120k,112500.0,2021-05-31,47,14000.0,0.841679,720.0,3,2,4,0,10015.974854,347592.679821,0.595820
47,105382,36,M,College,Single,$100k to $120k,112500.0,2021-06-30,48,14000.0,0.917789,695.0,3,2,4,1,10921.683588,347805.461740,0.624802
48,105382,36,M,College,Single,$100k to $120k,112500.0,2021-07-31,49,14000.0,0.965295,675.0,4,4,4,2,13514.124109,349472.938545,0.851911
49,105382,36,M,College,Single,$100k to $120k,112500.0,2021-08-31,50,14000.0,0.971051,655.0,4,4,4,3,13594.719097,346981.684922,0.855350
50,105382,36,M,College,Single,$100k to $120k,112500.0,2021-09-30,51,14000.0,0.981928,635.0,4,4,4,4,13594.719097,346942.423544,0.855350
51,105382,36,M,College,Single,$100k to $120k,112500.0,2021-10-31,52,14000.0,0.989957,615.0,4,4,4,5,13594.719097,346855.282093,0.855350
52,105382,36,M,College,Single,$100k to $120k,112500.0,2021-11-30,53,14000.0,0.990000,595.0,4,4,4,6,13594.719097,347008.176702,0.855350
53,105382,36,M,College,Single,$100k to $120k,112500.0,2021-12-31,54,14000.0,0.990000,575.0,4,4,4,7,13594.719097,346946.141746,0.855350

In [13]:
interchange_fee_factor = 0.02
interest_rate_monthly = 24.61 / 100 / 12

# Calculate Interchange Fee for all rows initially
customerC['Interchange Fee'] = customerC.apply(
    lambda row: row['Utilization'] * row['Credit_Limit'] * interchange_fee_factor, axis=1
)

# Get the last 7 rows based on Snapshot Month ascending order
last_7_indices = customerC.sort_values(by='Snapshot Month').index[-7:]

# Update Interchange Fee for the last 7 rows
for i in range(1, len(last_7_indices)):
    current_index = last_7_indices[i]
    previous_index = last_7_indices[i - 1]
    
    # Calculate the Interchange Fee for last 7 rows based on revolving balance difference
    revolving_difference = customerC.loc[current_index, 'Revolving_Bal'] - customerC.loc[previous_index, 'Revolving_Bal'] - 30
    interchange_fee = revolving_difference / (1 + interest_rate_monthly) * interchange_fee_factor
    
    # Update the Interchange Fee for the current row
    customerC.at[current_index, 'Interchange Fee'] = max(interchange_fee,0)

customerC.loc[customerC['Delinquency'] > 3, 'Interchange Fee'] = 0


customerC['Late_Fee_Revenue'] = 0
customerC.loc[customerC['Delinquency'] > 0, 'Late_Fee_Revenue'] = 30
customerC.loc[customerC['Delinquency'] > 3, 'Late_Fee_Revenue'] = 0

customerC['Monthly_Interest_Revenue'] = customerC['Revolving_Bal'] * interest_rate_monthly
customerC.loc[customerC['Delinquency'] > 0, 'Monthly_Interest_Revenue'] = 0

customerC['Annual_Fee'] = np.where(
    customerC['Month on Book'] % 12 == 0,
    100,
    0
)

customerC['Total Revenue'] = customerC['Interchange Fee'] + customerC['Late_Fee_Revenue'] + customerC['Monthly_Interest_Revenue'] + customerC['Annual_Fee'] 

customerC.head(100)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit,...,Credit_Inquiries,Delinquency,Revolving_Bal,Total_Debt,Debt_to_Income_Ratio,Interchange Fee,Late_Fee_Revenue,Monthly_Interest_Revenue,Annual_Fee,Total Revenue
0,105382,32,M,College,Single,$100k to $120k,112500.0,2017-07-31,1,14000.0,...,0,0,0.000000,12816.655741,0.035310,55.440829,0,0.000000,0,55.440829
1,105382,32,M,College,Single,$100k to $120k,112500.0,2017-08-31,2,14000.0,...,0,0,0.000000,12485.626182,0.035310,47.947632,0,0.000000,0,47.947632
2,105382,32,M,College,Single,$100k to $120k,112500.0,2017-09-30,3,14000.0,...,0,0,0.000000,12154.596624,0.035310,50.907549,0,0.000000,0,50.907549
3,105382,32,M,College,Single,$100k to $120k,112500.0,2017-10-31,4,14000.0,...,0,0,0.000000,11823.567065,0.035310,41.538821,0,0.000000,0,41.538821
4,105382,32,M,College,Single,$100k to $120k,112500.0,2017-11-30,5,14000.0,...,0,0,0.000000,11492.537507,0.035310,50.828724,0,0.000000,0,50.828724
5,105382,32,M,College,Single,$100k to $120k,112500.0,2017-12-31,6,14000.0,...,0,0,0.000000,11161.507948,0.035310,45.642182,0,0.000000,0,45.642182
6,105382,33,M,College,Single,$100k to $120k,112500.0,2018-01-31,7,14000.0,...,0,0,0.000000,10830.478389,0.035310,50.719286,0,0.000000,0,50.719286
7,105382,33,M,College,Single,$100k to $120k,112500.0,2018-02-28,8,14000.0,...,0,0,0.000000,10499.448831,0.035310,51.017528,0,0.000000,0,51.017528
8,105382,33,M,College,Single,$100k to $120k,112500.0,2018-03-31,9,14000.0,...,0,0,0.000000,10168.419272,0.035310,48.110954,0,0.000000,0,48.110954
9,105382,33,M,College,Single,$100k to $120k,112500.0,2018-04-30,10,14000.0,...,0,0,0.000000,9837.389714,0.035310,45.769236,0,0.000000,0,45.769236
10,105382,33,M,College,Single,$100k to $120k,112500.0,2018-05-31,11,14000.0,...,0,0,0.000000,9506.360155,0.035310,43.732188,0,0.000000,0,43.732188
11,105382,33,M,College,Single,$100k to $120k,112500.0,2018-06-30,12,14000.0,...,0,0,0.000000,9175.330597,0.035310,38.774477,0,0.000000,100,138.774477
12,105382,33,M,College,Single,$100k to $120k,112500.0,2018-07-31,13,14000.0,...,0,0,0.000000,8844.301038,0.035310,48.691166,0,0.000000,0,48.691166
13,105382,33,M,College,Single,$100k to $120k,112500.0,2018-08-31,14,14000.0,...,0,0,0.000000,8513.271480,0.035310,39.927474,0,0.000000,0,39.927474
14,105382,33,M,College,Single,$100k to $120k,112500.0,2018-09-30,15,14000.0,...,0,0,0.000000,8182.241921,0.035310,50.410728,0,0.000000,0,50.410728
15,105382,33,M,College,Single,$100k to $120k,112500.0,2018-10-31,16,14000.0,...,0,0,0.000000,7851.212363,0.035310,55.595566,0,0.000000,0,55.595566
16,105382,33,M,College,Single,$100k to $120k,112500.0,2018-11-30,17,14000.0,...,0,0,0.000000,7520.182804,0.035310,52.302392,0,0.000000,0,52.302392
17,105382,33,M,College,Single,$100k to $120k,112500.0,2018-12-31,18,14000.0,...,0,0,0.000000,7189.153246,0.035310,52.910195,0,0.000000,0,52.910195
18,105382,34,M,College,Single,$100k to $120k,112500.0,2019-01-31,19,14000.0,...,0,0,0.000000,6858.123687,0.035310,47.587757,0,0.000000,0,47.587757
19,105382,34,M,College,Single,$100k to $120k,112500.0,2019-02-28,20,14000.0,...,0,0,0.000000,6527.094129,0.035310,38.338496,0,0.000000,0,38.338496
20,105382,34,M,College,Single,$100k to $120k,112500.0,2019-03-31,21,14000.0,...,0,0,0.000000,6196.064570,0.035310,45.591060,0,0.000000,0,45.591060
21,105382,34,M,College,Single,$100k to $120k,112500.0,2019-04-30,22,14000.0,...,0,0,0.000000,5865.035012,0.035310,55.609157,0,0.000000,0,55.609157
22,105382,34,M,College,Single,$100k to $120k,112500.0,2019-05-31,23,14000.0,...,0,0,0.000000,5534.005453,0.035310,43.098730,0,0.000000,0,43.098730
23,105382,34,M,College,Single,$100k to $120k,112500.0,2019-06-30,24,14000.0,...,0,0,0.000000,5202.975895,0.035310,40.044418,0,0.000000,100,140.044418
24,105382,34,M,College,Single,$100k to $120k,112500.0,2019-07-31,25,14000.0,...,0,0,0.000000,4871.946336,0.035310,51.103683,0,0.000000,0,51.103683
25,105382,34,M,College,Single,$100k to $120k,112500.0,2019-08-31,26,14000.0,...,0,0,0.000000,4540.916778,0.035310,54.845420,0,0.000000,0,54.845420
26,105382,34,M,College,Single,$100k to $120k,112500.0,2019-09-30,27,14000.0,...,0,0,0.000000,4209.887219,0.035310,53.208333,0,0.000000,0,53.208333
27,105382,34,M,College,Single,$100k to $120k,112500.0,2019-10-31,28,14000.0,...,0,0,0.000000,3878.857660,0.035310,39.364285,0,0.000000,0,39.364285
28,105382,34,M,College,Single,$100k to $120k,112500.0,2019-11-30,29,14000.0,...,3,0,0.000000,353771.898328,0.275308,55.302342,0,0.000000,0,55.302342
29,105382,34,M,College,Single,$100k to $120k,112500.0,2019-12-31,30,14000.0,...,3,0,0.000000,351521.911267,0.275308,45.207912,0,0.000000,0,45.207912
30,105382,35,M,College,Single,$100k to $120k,112500.0,2020-01-31,31,14000.0,...,3,0,0.000000,349271.924206,0.275308,51.372795,0,0.000000,0,51.372795
31,105382,35,M,College,Single,$100k to $120k,112500.0,2020-02-29,32,14000.0,...,3,0,0.000000,347021.937144,0.275308,48.808523,0,0.000000,0,48.808523
32,105382,35,M,College,Single,$100k to $120k,112500.0,2020-03-31,33,14000.0,...,3,0,3561.479032,350403.861805,0.351287,83.799507,0,73.039999,0,156.839506
33,105382,35,M,College,Single,$100k to $120k,112500.0,2020-04-30,34,14000.0,...,3,0,3765.998763,347061.420668,0.355650,88.611736,0,77.234358,0,165.846094
34,105382,35,M,College,Single,$100k to $120k,112500.0,2020-05-31,35,14000.0,...,3,0,3960.103228,347177.589879,0.359791,93.178899,0,81.215117,0,174.394016
35,105382,35,M,College,Single,$100k to $120k,112500.0,2020-06-30,36,14000.0,...,3,0,4245.819271,347192.279033,0.365886,99.901630,0,87.074677,100,286.976307
36,105382,35,M,College,Single,$100k to $120k,112500.0,2020-07-31,37,14000.0,...,3,0,4410.669326,347121.480026,0.369403,103.780455,0,90.455477,0,194.235932
37,105382,35,M,College,Single,$100k to $120k,112500.0,2020-08-31,38,14000.0,...,3,0,4697.532464,347207.910603,0.375522,110.530176,0,96.338562,0,206.868737
38,105382,35,M,College,Single,$100k to $120k,112500.0,2020-09-30,39,14000.0,...,3,0,4930.071628,347168.454578,0.380483,116.001685,0,101.107552,0,217.109238
39,105382,35,M,College,Single,$100k to $120k,112500.0,2020-10-31,40,14000.0,...,3,0,5174.411965,347144.016494,0.385696,121.750870,0,106.118565,0,227.869435
40,105382,35,M,College,Single,$100k to $120k,112500.0,2020-11-30,41,14000.0,...,4,0,5013.432774,346847.467244,0.382262,117.963124,0,102.817150,0,220.780275
41,105382,35,M,College,Single,$100k to $120k,112500.0,2020-12-31,42,14000.0,...,4,0,5694.555116,347689.070508,0.396792,133.989532,0,116.785835,0,250.775367
42,105382,36,M,College,Single,$100k to $120k,112500.0,2021-01-31,43,14000.0,...,4,0,6291.068514,347546.246616,0.409518,148.025142,0,129.019330,0,277.044472
43,105382,36,M,College,Single,$100k to $120k,112500.0,2021-02-28,44,14000.0,...,4,0,7569.254889,348113.498016,0.517525,178.100115,0,155.232802,0,333.332917
44,105382,36,M,College,Single,$100k to $120k,112500.0,2021-03-31,45,14000.0,...,4,0,8383.924146,347831.178069,0.543594,197.268803,0,171.940311,0,369.209114
45,105382,36,M,College,Single,$100k to $120k,112500.0,2021-04-30,46,14000.0,...,4,0,9267.052759,347852.031107,0.571854,218.048300,0,190.051807,0,408.100107
46,105382,36,M,College,Single,$100k to $120k,112500.0,2021-05-31,47,14000.0,...,4,0,10015.974854,347592.679821,0.595820,235.669997,0,205.410951,0,441.080948
47,105382,36,M,College,Single,$100k to $120k,112500.0,2021-06-30,48,14000.0,...,4,1,10921.683588,347805.461740,0.624802,256.980790,30,0.000000,100,386.980790
48,105382,36,M,College,Single,$100k to $120k,112500.0,2021-07-31,49,14000.0,...,4,2,13514.124109,349472.938545,0.851911,50.218904,30,0.000000,0,80.218904
49,105382,36,M,College,Single,$100k to $120k,112500.0,2021-08-31,50,14000.0,...,4,3,13594.719097,346981.684922,0.855350,0.991564,30,0.000000,0,30.991564
50,105382,36,M,College,Single,$100k to $120k,112500.0,2021-09-30,51,14000.0,...,4,4,13594.719097,346942.423544,0.855350,0.000000,0,0.000000,0,0.000000
51,105382,36,M,College,Single,$100k to $120k,112500.0,2021-10-31,52,14000.0,...,4,5,13594.719097,346855.282093,0.855350,0.000000,0,0.000000,0,0.000000
52,105382,36,M,College,Single,$100k to $120k,112500.0,2021-11-30,53,14000.0,...,4,6,13594.719097,347008.176702,0.855350,0.000000,0,0.000000,0,0.000000
53,105382,36,M,College,Single,$100k to $120k,112500.0,2021-12-31,54,14000.0,...,4,7,13594.719097,346946.141746,0.855350,0.000000,0,0.000000,0,0.000000

In [14]:
weight_utilization = 0.15
delinquency_weights = {
    0: 0.05,
    1: 0.15,
    2: 0.4,
    3: 0.65,
    4: 0.72,
    5: 0.8,
    6: 0.84,
    7: 0.86
}
customerC['Delinquency_Weight'] = customerC['Delinquency'].map(delinquency_weights).fillna(0) 
# weight_debt_income_ratio = 0.5

# Normalize each factor (optional) and calculate ECL
customerC['ECL Ratio'] = customerC.apply(
    lambda x: min(
        weight_utilization * x['external_bank_credit_card_max_util_greater_than_50'] + x['Delinquency_Weight'], 
        0.9
    ),
    axis=1
)

customerC['ECL'] = customerC['ECL Ratio'] * customerC['Credit_Limit']  * customerC['Utilization'] 

customerC.head(100)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit,...,Total_Debt,Debt_to_Income_Ratio,Interchange Fee,Late_Fee_Revenue,Monthly_Interest_Revenue,Annual_Fee,Total Revenue,Delinquency_Weight,ECL Ratio,ECL
0,105382,32,M,College,Single,$100k to $120k,112500.0,2017-07-31,1,14000.0,...,12816.655741,0.035310,55.440829,0,0.000000,0,55.440829,0.05,0.05,138.602074
1,105382,32,M,College,Single,$100k to $120k,112500.0,2017-08-31,2,14000.0,...,12485.626182,0.035310,47.947632,0,0.000000,0,47.947632,0.05,0.05,119.869080
2,105382,32,M,College,Single,$100k to $120k,112500.0,2017-09-30,3,14000.0,...,12154.596624,0.035310,50.907549,0,0.000000,0,50.907549,0.05,0.05,127.268872
3,105382,32,M,College,Single,$100k to $120k,112500.0,2017-10-31,4,14000.0,...,11823.567065,0.035310,41.538821,0,0.000000,0,41.538821,0.05,0.05,103.847053
4,105382,32,M,College,Single,$100k to $120k,112500.0,2017-11-30,5,14000.0,...,11492.537507,0.035310,50.828724,0,0.000000,0,50.828724,0.05,0.05,127.071810
5,105382,32,M,College,Single,$100k to $120k,112500.0,2017-12-31,6,14000.0,...,11161.507948,0.035310,45.642182,0,0.000000,0,45.642182,0.05,0.05,114.105454
6,105382,33,M,College,Single,$100k to $120k,112500.0,2018-01-31,7,14000.0,...,10830.478389,0.035310,50.719286,0,0.000000,0,50.719286,0.05,0.05,126.798216
7,105382,33,M,College,Single,$100k to $120k,112500.0,2018-02-28,8,14000.0,...,10499.448831,0.035310,51.017528,0,0.000000,0,51.017528,0.05,0.05,127.543820
8,105382,33,M,College,Single,$100k to $120k,112500.0,2018-03-31,9,14000.0,...,10168.419272,0.035310,48.110954,0,0.000000,0,48.110954,0.05,0.05,120.277386
9,105382,33,M,College,Single,$100k to $120k,112500.0,2018-04-30,10,14000.0,...,9837.389714,0.035310,45.769236,0,0.000000,0,45.769236,0.05,0.05,114.423090
10,105382,33,M,College,Single,$100k to $120k,112500.0,2018-05-31,11,14000.0,...,9506.360155,0.035310,43.732188,0,0.000000,0,43.732188,0.05,0.05,109.330471
11,105382,33,M,College,Single,$100k to $120k,112500.0,2018-06-30,12,14000.0,...,9175.330597,0.035310,38.774477,0,0.000000,100,138.774477,0.05,0.05,96.936192
12,105382,33,M,College,Single,$100k to $120k,112500.0,2018-07-31,13,14000.0,...,8844.301038,0.035310,48.691166,0,0.000000,0,48.691166,0.05,0.05,121.727914
13,105382,33,M,College,Single,$100k to $120k,112500.0,2018-08-31,14,14000.0,...,8513.271480,0.035310,39.927474,0,0.000000,0,39.927474,0.05,0.05,99.818685
14,105382,33,M,College,Single,$100k to $120k,112500.0,2018-09-30,15,14000.0,...,8182.241921,0.035310,50.410728,0,0.000000,0,50.410728,0.05,0.05,126.026819
15,105382,33,M,College,Single,$100k to $120k,112500.0,2018-10-31,16,14000.0,...,7851.212363,0.035310,55.595566,0,0.000000,0,55.595566,0.05,0.05,138.988915
16,105382,33,M,College,Single,$100k to $120k,112500.0,2018-11-30,17,14000.0,...,7520.182804,0.035310,52.302392,0,0.000000,0,52.302392,0.05,0.05,130.755979
17,105382,33,M,College,Single,$100k to $120k,112500.0,2018-12-31,18,14000.0,...,7189.153246,0.035310,52.910195,0,0.000000,0,52.910195,0.05,0.05,132.275488
18,105382,34,M,College,Single,$100k to $120k,112500.0,2019-01-31,19,14000.0,...,6858.123687,0.035310,47.587757,0,0.000000,0,47.587757,0.05,0.05,118.969393
19,105382,34,M,College,Single,$100k to $120k,112500.0,2019-02-28,20,14000.0,...,6527.094129,0.035310,38.338496,0,0.000000,0,38.338496,0.05,0.05,95.846239
20,105382,34,M,College,Single,$100k to $120k,112500.0,2019-03-31,21,14000.0,...,6196.064570,0.035310,45.591060,0,0.000000,0,45.591060,0.05,0.05,113.977650
21,105382,34,M,College,Single,$100k to $120k,112500.0,2019-04-30,22,14000.0,...,5865.035012,0.035310,55.609157,0,0.000000,0,55.609157,0.05,0.05,139.022893
22,105382,34,M,College,Single,$100k to $120k,112500.0,2019-05-31,23,14000.0,...,5534.005453,0.035310,43.098730,0,0.000000,0,43.098730,0.05,0.05,107.746825
23,105382,34,M,College,Single,$100k to $120k,112500.0,2019-06-30,24,14000.0,...,5202.975895,0.035310,40.044418,0,0.000000,100,140.044418,0.05,0.05,100.111046
24,105382,34,M,College,Single,$100k to $120k,112500.0,2019-07-31,25,14000.0,...,4871.946336,0.035310,51.103683,0,0.000000,0,51.103683,0.05,0.05,127.759208
25,105382,34,M,College,Single,$100k to $120k,112500.0,2019-08-31,26,14000.0,...,4540.916778,0.035310,54.845420,0,0.000000,0,54.845420,0.05,0.05,137.113551
26,105382,34,M,College,Single,$100k to $120k,112500.0,2019-09-30,27,14000.0,...,4209.887219,0.035310,53.208333,0,0.000000,0,53.208333,0.05,0.05,133.020833
27,105382,34,M,College,Single,$100k to $120k,112500.0,2019-10-31,28,14000.0,...,3878.857660,0.035310,39.364285,0,0.000000,0,39.364285,0.05,0.05,98.410712
28,105382,34,M,College,Single,$100k to $120k,112500.0,2019-11-30,29,14000.0,...,353771.898328,0.275308,55.302342,0,0.000000,0,55.302342,0.05,0.05,138.255854
29,105382,34,M,College,Single,$100k to $120k,112500.0,2019-12-31,30,14000.0,...,351521.911267,0.275308,45.207912,0,0.000000,0,45.207912,0.05,0.05,113.019780
30,105382,35,M,College,Single,$100k to $120k,112500.0,2020-01-31,31,14000.0,...,349271.924206,0.275308,51.372795,0,0.000000,0,51.372795,0.05,0.05,128.431988
31,105382,35,M,College,Single,$100k to $120k,112500.0,2020-02-29,32,14000.0,...,347021.937144,0.275308,48.808523,0,0.000000,0,48.808523,0.05,0.05,122.021308
32,105382,35,M,College,Single,$100k to $120k,112500.0,2020-03-31,33,14000.0,...,350403.861805,0.351287,83.799507,0,73.039999,0,156.839506,0.05,0.20,837.995066
33,105382,35,M,College,Single,$100k to $120k,112500.0,2020-04-30,34,14000.0,...,347061.420668,0.355650,88.611736,0,77.234358,0,165.846094,0.05,0.20,886.117356
34,105382,35,M,College,Single,$100k to $120k,112500.0,2020-05-31,35,14000.0,...,347177.589879,0.359791,93.178899,0,81.215117,0,174.394016,0.05,0.20,931.788995
35,105382,35,M,College,Single,$100k to $120k,112500.0,2020-06-30,36,14000.0,...,347192.279033,0.365886,99.901630,0,87.074677,100,286.976307,0.05,0.20,999.016299
36,105382,35,M,College,Single,$100k to $120k,112500.0,2020-07-31,37,14000.0,...,347121.480026,0.369403,103.780455,0,90.455477,0,194.235932,0.05,0.20,1037.804547
37,105382,35,M,College,Single,$100k to $120k,112500.0,2020-08-31,38,14000.0,...,347207.910603,0.375522,110.530176,0,96.338562,0,206.868737,0.05,0.20,1105.301756
38,105382,35,M,College,Single,$100k to $120k,112500.0,2020-09-30,39,14000.0,...,347168.454578,0.380483,116.001685,0,101.107552,0,217.109238,0.05,0.20,1160.016854
39,105382,35,M,College,Single,$100k to $120k,112500.0,2020-10-31,40,14000.0,...,347144.016494,0.385696,121.750870,0,106.118565,0,227.869435,0.05,0.20,1217.508698
40,105382,35,M,College,Single,$100k to $120k,112500.0,2020-11-30,41,14000.0,...,346847.467244,0.382262,117.963124,0,102.817150,0,220.780275,0.05,0.35,2064.354672
41,105382,35,M,College,Single,$100k to $120k,112500.0,2020-12-31,42,14000.0,...,347689.070508,0.396792,133.989532,0,116.785835,0,250.775367,0.05,0.35,2344.816813
42,105382,36,M,College,Single,$100k to $120k,112500.0,2021-01-31,43,14000.0,...,347546.246616,0.409518,148.025142,0,129.019330,0,277.044472,0.05,0.35,2590.439976
43,105382,36,M,College,Single,$100k to $120k,112500.0,2021-02-28,44,14000.0,...,348113.498016,0.517525,178.100115,0,155.232802,0,333.332917,0.05,0.50,4452.502876
44,105382,36,M,College,Single,$100k to $120k,112500.0,2021-03-31,45,14000.0,...,347831.178069,0.543594,197.268803,0,171.940311,0,369.209114,0.05,0.50,4931.720086
45,105382,36,M,College,Single,$100k to $120k,112500.0,2021-04-30,46,14000.0,...,347852.031107,0.571854,218.048300,0,190.051807,0,408.100107,0.05,0.50,5451.207505
46,105382,36,M,College,Single,$100k to $120k,112500.0,2021-05-31,47,14000.0,...,347592.679821,0.595820,235.669997,0,205.410951,0,441.080948,0.05,0.50,5891.749914
47,105382,36,M,College,Single,$100k to $120k,112500.0,2021-06-30,48,14000.0,...,347805.461740,0.624802,256.980790,30,0.000000,100,386.980790,0.15,0.60,7709.423709
48,105382,36,M,College,Single,$100k to $120k,112500.0,2021-07-31,49,14000.0,...,349472.938545,0.851911,50.218904,30,0.000000,0,80.218904,0.40,0.90,12162.711698
49,105382,36,M,College,Single,$100k to $120k,112500.0,2021-08-31,50,14000.0,...,346981.684922,0.855350,0.991564,30,0.000000,0,30.991564,0.65,0.90,12235.247188
50,105382,36,M,College,Single,$100k to $120k,112500.0,2021-09-30,51,14000.0,...,346942.423544,0.855350,0.000000,0,0.000000,0,0.000000,0.72,0.90,12372.292737
51,105382,36,M,College,Single,$100k to $120k,112500.0,2021-10-31,52,14000.0,...,346855.282093,0.855350,0.000000,0,0.000000,0,0.000000,0.80,0.90,12473.451909
52,105382,36,M,College,Single,$100k to $120k,112500.0,2021-11-30,53,14000.0,...,347008.176702,0.855350,0.000000,0,0.000000,0,0.000000,0.84,0.90,12474.000000
53,105382,36,M,College,Single,$100k to $120k,112500.0,2021-12-31,54,14000.0,...,346946.141746,0.855350,0.000000,0,0.000000,0,0.000000,0.86,0.90,12474.000000

In [15]:
# Calculate the month-over-month ECL charge
customerC['ECL MoM Charge'] = customerC['ECL'].diff()
customerC.loc[0, 'ECL MoM Charge'] = customerC.loc[0, 'ECL']  # Set the first value to the first ECL

# Calculate Profit and cumulative metrics
customerC['Profit'] = customerC['Total Revenue'] - customerC['ECL MoM Charge']
customerC['Cumulative Profit'] = customerC['Profit'].cumsum()

# Calculate the month-over-month change in Cumulative Profit
customerC['MoM Cumulative Profit Change'] = customerC['Cumulative Profit'].diff()
customerC.loc[0, 'MoM Cumulative Profit Change'] = customerC.loc[0, 'Cumulative Profit']  # Set the first value

In [16]:

customerC.head(100)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit,...,Monthly_Interest_Revenue,Annual_Fee,Total Revenue,Delinquency_Weight,ECL Ratio,ECL,ECL MoM Charge,Profit,Cumulative Profit,MoM Cumulative Profit Change
0,105382,32,M,College,Single,$100k to $120k,112500.0,2017-07-31,1,14000.0,...,0.000000,0,55.440829,0.05,0.05,138.602074,138.602074,-83.161244,-83.161244,-83.161244
1,105382,32,M,College,Single,$100k to $120k,112500.0,2017-08-31,2,14000.0,...,0.000000,0,47.947632,0.05,0.05,119.869080,-18.732994,66.680626,-16.480618,66.680626
2,105382,32,M,College,Single,$100k to $120k,112500.0,2017-09-30,3,14000.0,...,0.000000,0,50.907549,0.05,0.05,127.268872,7.399792,43.507756,27.027138,43.507756
3,105382,32,M,College,Single,$100k to $120k,112500.0,2017-10-31,4,14000.0,...,0.000000,0,41.538821,0.05,0.05,103.847053,-23.421819,64.960640,91.987778,64.960640
4,105382,32,M,College,Single,$100k to $120k,112500.0,2017-11-30,5,14000.0,...,0.000000,0,50.828724,0.05,0.05,127.071810,23.224757,27.603967,119.591745,27.603967
5,105382,32,M,College,Single,$100k to $120k,112500.0,2017-12-31,6,14000.0,...,0.000000,0,45.642182,0.05,0.05,114.105454,-12.966356,58.608538,178.200283,58.608538
6,105382,33,M,College,Single,$100k to $120k,112500.0,2018-01-31,7,14000.0,...,0.000000,0,50.719286,0.05,0.05,126.798216,12.692762,38.026524,216.226808,38.026524
7,105382,33,M,College,Single,$100k to $120k,112500.0,2018-02-28,8,14000.0,...,0.000000,0,51.017528,0.05,0.05,127.543820,0.745604,50.271924,266.498731,50.271924
8,105382,33,M,College,Single,$100k to $120k,112500.0,2018-03-31,9,14000.0,...,0.000000,0,48.110954,0.05,0.05,120.277386,-7.266434,55.377388,321.876119,55.377388
9,105382,33,M,College,Single,$100k to $120k,112500.0,2018-04-30,10,14000.0,...,0.000000,0,45.769236,0.05,0.05,114.423090,-5.854296,51.623532,373.499651,51.623532
10,105382,33,M,College,Single,$100k to $120k,112500.0,2018-05-31,11,14000.0,...,0.000000,0,43.732188,0.05,0.05,109.330471,-5.092619,48.824808,422.324459,48.824808
11,105382,33,M,College,Single,$100k to $120k,112500.0,2018-06-30,12,14000.0,...,0.000000,100,138.774477,0.05,0.05,96.936192,-12.394278,151.168755,573.493214,151.168755
12,105382,33,M,College,Single,$100k to $120k,112500.0,2018-07-31,13,14000.0,...,0.000000,0,48.691166,0.05,0.05,121.727914,24.791722,23.899444,597.392658,23.899444
13,105382,33,M,College,Single,$100k to $120k,112500.0,2018-08-31,14,14000.0,...,0.000000,0,39.927474,0.05,0.05,99.818685,-21.909230,61.836704,659.229362,61.836704
14,105382,33,M,College,Single,$100k to $120k,112500.0,2018-09-30,15,14000.0,...,0.000000,0,50.410728,0.05,0.05,126.026819,26.208135,24.202593,683.431955,24.202593
15,105382,33,M,College,Single,$100k to $120k,112500.0,2018-10-31,16,14000.0,...,0.000000,0,55.595566,0.05,0.05,138.988915,12.962096,42.633470,726.065425,42.633470
16,105382,33,M,College,Single,$100k to $120k,112500.0,2018-11-30,17,14000.0,...,0.000000,0,52.302392,0.05,0.05,130.755979,-8.232936,60.535328,786.600753,60.535328
17,105382,33,M,College,Single,$100k to $120k,112500.0,2018-12-31,18,14000.0,...,0.000000,0,52.910195,0.05,0.05,132.275488,1.519509,51.390686,837.991439,51.390686
18,105382,34,M,College,Single,$100k to $120k,112500.0,2019-01-31,19,14000.0,...,0.000000,0,47.587757,0.05,0.05,118.969393,-13.306095,60.893853,898.885291,60.893853
19,105382,34,M,College,Single,$100k to $120k,112500.0,2019-02-28,20,14000.0,...,0.000000,0,38.338496,0.05,0.05,95.846239,-23.123154,61.461649,960.346941,61.461649
20,105382,34,M,College,Single,$100k to $120k,112500.0,2019-03-31,21,14000.0,...,0.000000,0,45.591060,0.05,0.05,113.977650,18.131410,27.459650,987.806591,27.459650
21,105382,34,M,College,Single,$100k to $120k,112500.0,2019-04-30,22,14000.0,...,0.000000,0,55.609157,0.05,0.05,139.022893,25.045243,30.563914,1018.370504,30.563914
22,105382,34,M,College,Single,$100k to $120k,112500.0,2019-05-31,23,14000.0,...,0.000000,0,43.098730,0.05,0.05,107.746825,-31.276067,74.374798,1092.745302,74.374798
23,105382,34,M,College,Single,$100k to $120k,112500.0,2019-06-30,24,14000.0,...,0.000000,100,140.044418,0.05,0.05,100.111046,-7.635780,147.680198,1240.425500,147.680198
24,105382,34,M,College,Single,$100k to $120k,112500.0,2019-07-31,25,14000.0,...,0.000000,0,51.103683,0.05,0.05,127.759208,27.648162,23.455521,1263.881021,23.455521
25,105382,34,M,College,Single,$100k to $120k,112500.0,2019-08-31,26,14000.0,...,0.000000,0,54.845420,0.05,0.05,137.113551,9.354343,45.491077,1309.372098,45.491077
26,105382,34,M,College,Single,$100k to $120k,112500.0,2019-09-30,27,14000.0,...,0.000000,0,53.208333,0.05,0.05,133.020833,-4.092718,57.301052,1366.673150,57.301052
27,105382,34,M,College,Single,$100k to $120k,112500.0,2019-10-31,28,14000.0,...,0.000000,0,39.364285,0.05,0.05,98.410712,-34.610121,73.974405,1440.647555,73.974405
28,105382,34,M,College,Single,$100k to $120k,112500.0,2019-11-30,29,14000.0,...,0.000000,0,55.302342,0.05,0.05,138.255854,39.845142,15.457199,1456.104754,15.457199
29,105382,34,M,College,Single,$100k to $120k,112500.0,2019-12-31,30,14000.0,...,0.000000,0,45.207912,0.05,0.05,113.019780,-25.236074,70.443986,1526.548741,70.443986
30,105382,35,M,College,Single,$100k to $120k,112500.0,2020-01-31,31,14000.0,...,0.000000,0,51.372795,0.05,0.05,128.431988,15.412209,35.960587,1562.509327,35.960587
31,105382,35,M,College,Single,$100k to $120k,112500.0,2020-02-29,32,14000.0,...,0.000000,0,48.808523,0.05,0.05,122.021308,-6.410680,55.219203,1617.728531,55.219203
32,105382,35,M,College,Single,$100k to $120k,112500.0,2020-03-31,33,14000.0,...,73.039999,0,156.839506,0.05,0.20,837.995066,715.973758,-559.134252,1058.594279,-559.134252
33,105382,35,M,College,Single,$100k to $120k,112500.0,2020-04-30,34,14000.0,...,77.234358,0,165.846094,0.05,0.20,886.117356,48.122290,117.723804,1176.318083,117.723804
34,105382,35,M,College,Single,$100k to $120k,112500.0,2020-05-31,35,14000.0,...,81.215117,0,174.394016,0.05,0.20,931.788995,45.671639,128.722378,1305.040460,128.722378
35,105382,35,M,College,Single,$100k to $120k,112500.0,2020-06-30,36,14000.0,...,87.074677,100,286.976307,0.05,0.20,999.016299,67.227304,219.749002,1524.789463,219.749002
36,105382,35,M,College,Single,$100k to $120k,112500.0,2020-07-31,37,14000.0,...,90.455477,0,194.235932,0.05,0.20,1037.804547,38.788248,155.447683,1680.237146,155.447683
37,105382,35,M,College,Single,$100k to $120k,112500.0,2020-08-31,38,14000.0,...,96.338562,0,206.868737,0.05,0.20,1105.301756,67.497209,139.371528,1819.608674,139.371528
38,105382,35,M,College,Single,$100k to $120k,112500.0,2020-09-30,39,14000.0,...,101.107552,0,217.109238,0.05,0.20,1160.016854,54.715097,162.394140,1982.002815,162.394140
39,105382,35,M,College,Single,$100k to $120k,112500.0,2020-10-31,40,14000.0,...,106.118565,0,227.869435,0.05,0.20,1217.508698,57.491844,170.377591,2152.380406,170.377591
40,105382,35,M,College,Single,$100k to $120k,112500.0,2020-11-30,41,14000.0,...,102.817150,0,220.780275,0.05,0.35,2064.354672,846.845974,-626.065699,1526.314706,-626.065699
41,105382,35,M,College,Single,$100k to $120k,112500.0,2020-12-31,42,14000.0,...,116.785835,0,250.775367,0.05,0.35,2344.816813,280.462141,-29.686774,1496.627932,-29.686774
42,105382,36,M,College,Single,$100k to $120k,112500.0,2021-01-31,43,14000.0,...,129.019330,0,277.044472,0.05,0.35,2590.439976,245.623164,31.421308,1528.049240,31.421308
43,105382,36,M,College,Single,$100k to $120k,112500.0,2021-02-28,44,14000.0,...,155.232802,0,333.332917,0.05,0.50,4452.502876,1862.062899,-1528.729982,-0.680742,-1528.729982
44,105382,36,M,College,Single,$100k to $120k,112500.0,2021-03-31,45,14000.0,...,171.940311,0,369.209114,0.05,0.50,4931.720086,479.217210,-110.008096,-110.688838,-110.008096
45,105382,36,M,College,Single,$100k to $120k,112500.0,2021-04-30,46,14000.0,...,190.051807,0,408.100107,0.05,0.50,5451.207505,519.487419,-111.387312,-222.076150,-111.387312
46,105382,36,M,College,Single,$100k to $120k,112500.0,2021-05-31,47,14000.0,...,205.410951,0,441.080948,0.05,0.50,5891.749914,440.542409,0.538538,-221.537612,0.538538
47,105382,36,M,College,Single,$100k to $120k,112500.0,2021-06-30,48,14000.0,...,0.000000,100,386.980790,0.15,0.60,7709.423709,1817.673795,-1430.693004,-1652.230616,-1430.693004
48,105382,36,M,College,Single,$100k to $120k,112500.0,2021-07-31,49,14000.0,...,0.000000,0,80.218904,0.40,0.90,12162.711698,4453.287989,-4373.069084,-6025.299700,-4373.069084
49,105382,36,M,College,Single,$100k to $120k,112500.0,2021-08-31,50,14000.0,...,0.000000,0,30.991564,0.65,0.90,12235.247188,72.535490,-41.543925,-6066.843626,-41.543925
50,105382,36,M,College,Single,$100k to $120k,112500.0,2021-09-30,51,14000.0,...,0.000000,0,0.000000,0.72,0.90,12372.292737,137.045549,-137.045549,-6203.889175,-137.045549
51,105382,36,M,College,Single,$100k to $120k,112500.0,2021-10-31,52,14000.0,...,0.000000,0,0.000000,0.80,0.90,12473.451909,101.159172,-101.159172,-6305.048347,-101.159172
52,105382,36,M,College,Single,$100k to $120k,112500.0,2021-11-30,53,14000.0,...,0.000000,0,0.000000,0.84,0.90,12474.000000,0.548091,-0.548091,-6305.596438,-0.548091
53,105382,36,M,College,Single,$100k to $120k,112500.0,2021-12-31,54,14000.0,...,0.000000,0,0.000000,0.86,0.90,12474.000000,0.000000,0.000000,-6305.596438,0.000000

In [17]:
customerC.to_csv('customerC.csv')