In [1]:
import pandas as pd 
import numpy as np 
import os
from datetime import datetime, timedelta
import random

In [2]:
base_dir = os.path.dirname(os.path.abspath('data Customer C.ipynb'))
credit_case_study_folder = os.path.join(base_dir, 'Credit_EDA_case_study')
application_file_name = 'application_data.csv'

credit_case_study_data = pd.read_csv(os.path.join(credit_case_study_folder,application_file_name))
credit_case_study_data.head(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.0,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.0,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
credit_case_study_data = credit_case_study_data[[
    'SK_ID_CURR', 'DAYS_BIRTH', 'CODE_GENDER', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'AMT_INCOME_TOTAL'
]]
credit_case_study_data.head(10)

,SK_ID_CURR,DAYS_BIRTH,CODE_GENDER,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,AMT_INCOME_TOTAL
0,100002,-9461,M,Secondary / secondary special,Single / not married,202500.0
1,100003,-16765,F,Higher education,Married,270000.0
2,100004,-19046,M,Secondary / secondary special,Single / not married,67500.0
3,100006,-19005,F,Secondary / secondary special,Civil marriage,135000.0
4,100007,-19932,M,Secondary / secondary special,Single / not married,121500.0
5,100008,-16941,M,Secondary / secondary special,Married,99000.0
6,100009,-13778,F,Higher education,Married,171000.0
7,100010,-18850,M,Higher education,Married,360000.0
8,100011,-20099,F,Secondary / secondary special,Married,112500.0
9,100012,-14469,M,Secondary / secondary special,Single / not married,135000.0

In [4]:
rename_dict = {
    'SK_ID_CURR' : 'Customer ID', 
    'DAYS_BIRTH': 'Customer Age', 
    'CODE_GENDER': 'Gender', 
    'NAME_EDUCATION_TYPE': 'Education', 
    'NAME_FAMILY_STATUS': 'Marital Status', 
    'AMT_INCOME_TOTAL': 'Income Category'
}

credit_case_study_data = credit_case_study_data.rename(columns=rename_dict)
credit_case_study_data.head(10)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category
0,100002,-9461,M,Secondary / secondary special,Single / not married,202500.0
1,100003,-16765,F,Higher education,Married,270000.0
2,100004,-19046,M,Secondary / secondary special,Single / not married,67500.0
3,100006,-19005,F,Secondary / secondary special,Civil marriage,135000.0
4,100007,-19932,M,Secondary / secondary special,Single / not married,121500.0
5,100008,-16941,M,Secondary / secondary special,Married,99000.0
6,100009,-13778,F,Higher education,Married,171000.0
7,100010,-18850,M,Higher education,Married,360000.0
8,100011,-20099,F,Secondary / secondary special,Married,112500.0
9,100012,-14469,M,Secondary / secondary special,Single / not married,135000.0

In [5]:
credit_case_study_data['Customer Age'] = abs(credit_case_study_data['Customer Age']/365).astype(int)

credit_case_study_data['Income Numeric'] = credit_case_study_data['Income Category']
income_bins = [0, 40000, 60000, 80000, 100000, 120000, float('inf')]  
income_labels = ['Less than $40k', '$40k - $60k', '$60k to $80k', '$80k to $100k', '$100k to $120k', '$120k+']
credit_case_study_data['Income Category'] = pd.cut(credit_case_study_data['Income Category'], bins=income_bins, labels=income_labels, right=False)

education_mapping = {
    'Academic degree': 'College',
    'Higher education': 'Graduate',
    'Incomplete higher': 'College',
    'Lower secondary': 'Junior High School',
    'Secondary / secondary special': 'High School'
}
credit_case_study_data['Education'] = credit_case_study_data['Education'].map(education_mapping)

Marital_mapping = {
    'Civil marriage': 'Married',
    'Married': 'Married',
    'Seperated': 'Divorced',
    'Single / not married': 'Single',
    'Widow': 'Divorced',
    'Unknown': 'Unknown'
}
credit_case_study_data['Marital Status'] = credit_case_study_data['Marital Status'].map(Marital_mapping)


credit_case_study_data.head(10)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric
0,100002,25,M,High School,Single,$120k+,202500.0
1,100003,45,F,Graduate,Married,$120k+,270000.0
2,100004,52,M,High School,Single,$60k to $80k,67500.0
3,100006,52,F,High School,Married,$120k+,135000.0
4,100007,54,M,High School,Single,$120k+,121500.0
5,100008,46,M,High School,Married,$80k to $100k,99000.0
6,100009,37,F,Graduate,Married,$120k+,171000.0
7,100010,51,M,Graduate,Married,$120k+,360000.0
8,100011,55,F,High School,Married,$100k to $120k,112500.0
9,100012,39,M,High School,Single,$120k+,135000.0

In [6]:
filtered_data = credit_case_study_data[
    (credit_case_study_data['Customer Age'] > 35) &
    (credit_case_study_data['Customer Age'] < 40) &
    (credit_case_study_data['Education'] == 'High School') &
    (credit_case_study_data['Gender'] == 'F') &
    (credit_case_study_data['Marital Status'] == 'Married') &
    (credit_case_study_data['Income Category'] == 'Less than $40k')
]

filtered_data.head(10)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric
3119,103644,38,F,High School,Married,Less than $40k,27000.0
18758,121874,39,F,High School,Married,Less than $40k,36000.0
19248,122457,37,F,High School,Married,Less than $40k,36000.0
29179,133893,37,F,High School,Married,Less than $40k,32400.0
38940,145098,37,F,High School,Married,Less than $40k,36000.0
39570,145812,39,F,High School,Married,Less than $40k,36000.0
55801,164651,38,F,High School,Married,Less than $40k,31500.0
61046,170793,39,F,High School,Married,Less than $40k,36000.0
79284,191912,36,F,High School,Married,Less than $40k,36000.0
80102,192859,39,F,High School,Married,Less than $40k,36000.0

In [7]:
customerD = credit_case_study_data[
    (credit_case_study_data['Customer ID'] ==  133893)
]



customerD.head(10)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric
29179,133893,37,F,High School,Married,Less than $40k,32400.0

In [8]:
customerD['Snapshot Month'] = pd.to_datetime('2019-12-31')
customerD['Month on Book'] = 1
customerD['Credit_Limit'] = (customerD['Income Numeric'] * 0.24).round(-3)

start_date = pd.to_datetime('2019-12-31')
end_date = pd.to_datetime('2023-2-28')
dates = pd.date_range(start=start_date, end=end_date, freq='M')

# Create the new DataFrame with time series data
time_series_customerD = []

# Iterate through the dates to generate the rows
for date in dates:
    # Copy the customer data for each row
    new_row = customerD.copy()
    
    # Update snapshot month to the current date
    new_row['Snapshot Month'] = date
    
    # Update Customer Age: +1 every year
    new_row['Customer Age'] = customerD['Customer Age'] + (date.year - start_date.year)
    
    # Update MoB: +1 for each row
    new_row['Month on Book'] = customerD['Month on Book'] + (date.year - start_date.year) * 12 + (date.month - start_date.month)
    
    # Append the new row to the list
    time_series_customerD.append(new_row)
    
# Concatenate all rows into a single DataFrame
customerD = pd.concat(time_series_customerD, ignore_index=True)

customerD.head(10)

C:\Users\BHuang\AppData\Local\Temp\ipykernel_14600\4038642610.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customerD['Snapshot Month'] = pd.to_datetime('2019-12-31')
C:\Users\BHuang\AppData\Local\Temp\ipykernel_14600\4038642610.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customerD['Month on Book'] = 1
C:\Users\BHuang\AppData\Local\Temp\ipykernel_14600\4038642610.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customerD['Credit_Limit'] = (customerD['Income Numeric'] * 0.24).round(-3)
C:\Users\BHuang\AppData\Local\Temp\ipykernel_14600\4038642610.py:7: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(start=start_date, end=end_date, freq='M')

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit
0,133893,37,F,High School,Married,Less than $40k,32400.0,2019-12-31,1,8000.0
1,133893,38,F,High School,Married,Less than $40k,32400.0,2020-01-31,2,8000.0
2,133893,38,F,High School,Married,Less than $40k,32400.0,2020-02-29,3,8000.0
3,133893,38,F,High School,Married,Less than $40k,32400.0,2020-03-31,4,8000.0
4,133893,38,F,High School,Married,Less than $40k,32400.0,2020-04-30,5,8000.0
5,133893,38,F,High School,Married,Less than $40k,32400.0,2020-05-31,6,8000.0
6,133893,38,F,High School,Married,Less than $40k,32400.0,2020-06-30,7,8000.0
7,133893,38,F,High School,Married,Less than $40k,32400.0,2020-07-31,8,8000.0
8,133893,38,F,High School,Married,Less than $40k,32400.0,2020-08-31,9,8000.0
9,133893,38,F,High School,Married,Less than $40k,32400.0,2020-09-30,10,8000.0

In [9]:
initial_fico = 740
min_utilization = 0.17
max_utilization = 0.25
risk_start_date = pd.to_datetime('2022-03-31')  # Starting point for Delinquency
max_peak_utilization = 5  # Peak utilization during Delinquency period
fico_deterioration_rate = 8  # Deterioration in FICO score per 10% increase in utilization
fico_fluctuation_rate = 1
external_bank_credit_card_max_util_greater_than_50_base = 0
external_bank_credit_card_max_util_greater_than_90_base = 0
credit_inquiy_base = 1

customerD['Marital Status'] = np.where(
    customerD['Snapshot Month'] >= risk_start_date,
    'Divorced',
    'Married'
)


# Function to adjust FICO based on utilization
def calculate_fico(utilization, fico_score):
    # FICO deteriorates as utilization increases
    if utilization > 0.20:
        fico_deduction = fico_deterioration_rate * ((utilization - 0.20) // 0.10)
        fico_score = max(fico_score - fico_deduction, 300)  # FICO score can't go below 300
    return fico_score

# Function to adjust FICO based on utilization
def fluctuate_fico(utilization, fico_score):
    fico_deduction = fico_fluctuation_rate * ((utilization - 0.20) // 0.025)
    fico_score = max(fico_score - fico_deduction, 300) 
    return fico_score

# Function to generate monthly utilization and FICO
def generate_utilization_fico(df):
    fico_scores = []
    utilizations = []
    external_bank_credit_card_max_util_greater_than_50 = []
    external_bank_credit_card_max_util_greater_than_90 = []
    credit_inquiries = []
    
    for index, row in df.iterrows():
        snapshot_date = row['Snapshot Month']
        MoB = row['Month on Book']
        
        if snapshot_date < risk_start_date:
            utilization = random.uniform(min_utilization, max_utilization)
            fico_score = fluctuate_fico(utilization, initial_fico)
            credit_card_max_util_greater_than_50 = external_bank_credit_card_max_util_greater_than_50_base
            credit_card_max_util_greater_than_90 = external_bank_credit_card_max_util_greater_than_90_base
            if MoB <= 12:
                credit_inquiry = credit_inquiy_base
            else:
                credit_inquiry = 0
        else:
            months_since_risk_start_date = (snapshot_date - risk_start_date).days // 30
            
            if months_since_risk_start_date <= 4:
                # First 4 months: 
                utilization =  0.25/2 + 0.02 * months_since_risk_start_date + random.uniform(0.01,0.02)  
                credit_card_max_util_greater_than_50 = external_bank_credit_card_max_util_greater_than_50_base 
                credit_card_max_util_greater_than_90 = external_bank_credit_card_max_util_greater_than_90_base 
                credit_inquiry = credit_inquiy_base

            else:
                utilization = 0.25/2 + 0.02 * 4 + 0.07 * months_since_risk_start_date  + random.uniform(0.01,0.02) 
                credit_card_max_util_greater_than_50 = external_bank_credit_card_max_util_greater_than_50_base 
                credit_card_max_util_greater_than_90 = external_bank_credit_card_max_util_greater_than_90_base
                credit_inquiry = credit_inquiy_base 
                
            fico_score = calculate_fico(utilization, initial_fico)

        utilizations.append(utilization)
        fico_scores.append(fico_score)
        external_bank_credit_card_max_util_greater_than_50.append(credit_card_max_util_greater_than_50)
        external_bank_credit_card_max_util_greater_than_90.append(credit_card_max_util_greater_than_90)
        credit_inquiries.append(credit_inquiry)
    
    df['Utilization'] = utilizations
    df['FICO'] = fico_scores
    df['external_bank_credit_card_max_util_greater_than_50'] = external_bank_credit_card_max_util_greater_than_50
    df['external_bank_credit_card_max_util_greater_than_90'] = external_bank_credit_card_max_util_greater_than_90
    df['Credit_Inquiries'] = credit_inquiries
    return df

# Generate the utilization and FICO for the customerD DataFrame
customerD = generate_utilization_fico(customerD)

customerD.head(100)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit,Utilization,FICO,external_bank_credit_card_max_util_greater_than_50,external_bank_credit_card_max_util_greater_than_90,Credit_Inquiries
0,133893,37,F,High School,Married,Less than $40k,32400.0,2019-12-31,1,8000.0,0.221096,740.0,0,0,1
1,133893,38,F,High School,Married,Less than $40k,32400.0,2020-01-31,2,8000.0,0.185092,741.0,0,0,1
2,133893,38,F,High School,Married,Less than $40k,32400.0,2020-02-29,3,8000.0,0.246325,739.0,0,0,1
3,133893,38,F,High School,Married,Less than $40k,32400.0,2020-03-31,4,8000.0,0.227493,739.0,0,0,1
4,133893,38,F,High School,Married,Less than $40k,32400.0,2020-04-30,5,8000.0,0.186804,741.0,0,0,1
5,133893,38,F,High School,Married,Less than $40k,32400.0,2020-05-31,6,8000.0,0.249610,739.0,0,0,1
6,133893,38,F,High School,Married,Less than $40k,32400.0,2020-06-30,7,8000.0,0.197140,741.0,0,0,1
7,133893,38,F,High School,Married,Less than $40k,32400.0,2020-07-31,8,8000.0,0.244871,739.0,0,0,1
8,133893,38,F,High School,Married,Less than $40k,32400.0,2020-08-31,9,8000.0,0.195974,741.0,0,0,1
9,133893,38,F,High School,Married,Less than $40k,32400.0,2020-09-30,10,8000.0,0.232052,739.0,0,0,1
10,133893,38,F,High School,Married,Less than $40k,32400.0,2020-10-31,11,8000.0,0.198654,741.0,0,0,1
11,133893,38,F,High School,Married,Less than $40k,32400.0,2020-11-30,12,8000.0,0.182327,741.0,0,0,1
12,133893,38,F,High School,Married,Less than $40k,32400.0,2020-12-31,13,8000.0,0.193976,741.0,0,0,0
13,133893,39,F,High School,Married,Less than $40k,32400.0,2021-01-31,14,8000.0,0.176167,741.0,0,0,0
14,133893,39,F,High School,Married,Less than $40k,32400.0,2021-02-28,15,8000.0,0.201650,740.0,0,0,0
15,133893,39,F,High School,Married,Less than $40k,32400.0,2021-03-31,16,8000.0,0.190356,741.0,0,0,0
16,133893,39,F,High School,Married,Less than $40k,32400.0,2021-04-30,17,8000.0,0.229201,739.0,0,0,0
17,133893,39,F,High School,Married,Less than $40k,32400.0,2021-05-31,18,8000.0,0.186012,741.0,0,0,0
18,133893,39,F,High School,Married,Less than $40k,32400.0,2021-06-30,19,8000.0,0.222304,740.0,0,0,0
19,133893,39,F,High School,Married,Less than $40k,32400.0,2021-07-31,20,8000.0,0.227432,739.0,0,0,0
20,133893,39,F,High School,Married,Less than $40k,32400.0,2021-08-31,21,8000.0,0.174645,742.0,0,0,0
21,133893,39,F,High School,Married,Less than $40k,32400.0,2021-09-30,22,8000.0,0.214788,740.0,0,0,0
22,133893,39,F,High School,Married,Less than $40k,32400.0,2021-10-31,23,8000.0,0.186974,741.0,0,0,0
23,133893,39,F,High School,Married,Less than $40k,32400.0,2021-11-30,24,8000.0,0.233620,739.0,0,0,0
24,133893,39,F,High School,Married,Less than $40k,32400.0,2021-12-31,25,8000.0,0.231030,739.0,0,0,0
25,133893,40,F,High School,Married,Less than $40k,32400.0,2022-01-31,26,8000.0,0.239702,739.0,0,0,0
26,133893,40,F,High School,Married,Less than $40k,32400.0,2022-02-28,27,8000.0,0.175955,741.0,0,0,0
27,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-03-31,28,8000.0,0.139129,740.0,0,0,1
28,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-04-30,29,8000.0,0.157445,740.0,0,0,1
29,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-05-31,30,8000.0,0.184944,740.0,0,0,1
30,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-06-30,31,8000.0,0.204750,740.0,0,0,1
31,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-07-31,32,8000.0,0.216944,740.0,0,0,1
32,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-08-31,33,8000.0,0.567120,716.0,0,0,1
33,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-09-30,34,8000.0,0.644887,708.0,0,0,1
34,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-10-31,35,8000.0,0.711868,700.0,0,0,1
35,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-11-30,36,8000.0,0.778059,700.0,0,0,1
36,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-12-31,37,8000.0,0.845790,692.0,0,0,1
37,133893,41,F,High School,Divorced,Less than $40k,32400.0,2023-01-31,38,8000.0,0.915971,684.0,0,0,1
38,133893,41,F,High School,Divorced,Less than $40k,32400.0,2023-02-28,39,8000.0,0.987015,684.0,0,0,1

In [10]:
customerD = customerD.sort_values(by='Month on Book', ascending=False)

customerD['Delinquency'] = 0
max_Delinquency = 7
for i in range(max_Delinquency + 1):
    if i < len(customerD):
        customerD.iloc[i, customerD.columns.get_loc('Delinquency')] = max_Delinquency - i
        customerD.iloc[i, customerD.columns.get_loc('FICO')] = customerD.iloc[i, customerD.columns.get_loc('FICO')] - (max_Delinquency - i)*10

# pre_risk_data = customerD[(customerD['Snapshot Month'] < risk_start_date) & (customerD['Month on Book']>=3)]
# if not pre_risk_data.empty:
#     highest_utilization_index = pre_risk_data['Utilization'].idxmax()
#     # Set the Delinquency of the highest utilization row to 1
#     customerD.at[highest_utilization_index, 'Delinquency'] = 1

customerD = customerD.sort_values(by='Snapshot Month').reset_index(drop=True)

In [11]:
Revolving_balance_base = 0


# Function to generate monthly revolving balance
def generate_revolving_balance(df):
    revolving_balance = []
    
    for index, row in df.iterrows():
        snapshot_date = row['Snapshot Month']
        credit_limit = row['Credit_Limit']
        utilization = row['Utilization']
        
        if snapshot_date < risk_start_date:
            revolving_bal = Revolving_balance_base
        else:
            months_since_risk_start_date = (snapshot_date - risk_start_date).days // 30
            
            if months_since_risk_start_date <= 3:
                # First 4 months: 
                revolving_bal = Revolving_balance_base

            elif 4 <= months_since_risk_start_date <= 19:
                revolving_bal = 0.85 * credit_limit * utilization

            else:
                revolving_bal = credit_limit * utilization

        revolving_balance.append(revolving_bal)
    
    df['Revolving_Bal'] = revolving_balance

    return df

# Generate the utilization and FICO for the customerD DataFrame
customerD = generate_revolving_balance(customerD)

revolving_balance_delinquency_3 = customerD.loc[customerD['Delinquency'] == 3, 'Revolving_Bal'].iloc[0]
customerD.loc[customerD['Delinquency'] > 3, 'Revolving_Bal'] = revolving_balance_delinquency_3

customerD.head(100)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit,Utilization,FICO,external_bank_credit_card_max_util_greater_than_50,external_bank_credit_card_max_util_greater_than_90,Credit_Inquiries,Delinquency,Revolving_Bal
0,133893,37,F,High School,Married,Less than $40k,32400.0,2019-12-31,1,8000.0,0.221096,740.0,0,0,1,0,0.000000
1,133893,38,F,High School,Married,Less than $40k,32400.0,2020-01-31,2,8000.0,0.185092,741.0,0,0,1,0,0.000000
2,133893,38,F,High School,Married,Less than $40k,32400.0,2020-02-29,3,8000.0,0.246325,739.0,0,0,1,0,0.000000
3,133893,38,F,High School,Married,Less than $40k,32400.0,2020-03-31,4,8000.0,0.227493,739.0,0,0,1,0,0.000000
4,133893,38,F,High School,Married,Less than $40k,32400.0,2020-04-30,5,8000.0,0.186804,741.0,0,0,1,0,0.000000
5,133893,38,F,High School,Married,Less than $40k,32400.0,2020-05-31,6,8000.0,0.249610,739.0,0,0,1,0,0.000000
6,133893,38,F,High School,Married,Less than $40k,32400.0,2020-06-30,7,8000.0,0.197140,741.0,0,0,1,0,0.000000
7,133893,38,F,High School,Married,Less than $40k,32400.0,2020-07-31,8,8000.0,0.244871,739.0,0,0,1,0,0.000000
8,133893,38,F,High School,Married,Less than $40k,32400.0,2020-08-31,9,8000.0,0.195974,741.0,0,0,1,0,0.000000
9,133893,38,F,High School,Married,Less than $40k,32400.0,2020-09-30,10,8000.0,0.232052,739.0,0,0,1,0,0.000000
10,133893,38,F,High School,Married,Less than $40k,32400.0,2020-10-31,11,8000.0,0.198654,741.0,0,0,1,0,0.000000
11,133893,38,F,High School,Married,Less than $40k,32400.0,2020-11-30,12,8000.0,0.182327,741.0,0,0,1,0,0.000000
12,133893,38,F,High School,Married,Less than $40k,32400.0,2020-12-31,13,8000.0,0.193976,741.0,0,0,0,0,0.000000
13,133893,39,F,High School,Married,Less than $40k,32400.0,2021-01-31,14,8000.0,0.176167,741.0,0,0,0,0,0.000000
14,133893,39,F,High School,Married,Less than $40k,32400.0,2021-02-28,15,8000.0,0.201650,740.0,0,0,0,0,0.000000
15,133893,39,F,High School,Married,Less than $40k,32400.0,2021-03-31,16,8000.0,0.190356,741.0,0,0,0,0,0.000000
16,133893,39,F,High School,Married,Less than $40k,32400.0,2021-04-30,17,8000.0,0.229201,739.0,0,0,0,0,0.000000
17,133893,39,F,High School,Married,Less than $40k,32400.0,2021-05-31,18,8000.0,0.186012,741.0,0,0,0,0,0.000000
18,133893,39,F,High School,Married,Less than $40k,32400.0,2021-06-30,19,8000.0,0.222304,740.0,0,0,0,0,0.000000
19,133893,39,F,High School,Married,Less than $40k,32400.0,2021-07-31,20,8000.0,0.227432,739.0,0,0,0,0,0.000000
20,133893,39,F,High School,Married,Less than $40k,32400.0,2021-08-31,21,8000.0,0.174645,742.0,0,0,0,0,0.000000
21,133893,39,F,High School,Married,Less than $40k,32400.0,2021-09-30,22,8000.0,0.214788,740.0,0,0,0,0,0.000000
22,133893,39,F,High School,Married,Less than $40k,32400.0,2021-10-31,23,8000.0,0.186974,741.0,0,0,0,0,0.000000
23,133893,39,F,High School,Married,Less than $40k,32400.0,2021-11-30,24,8000.0,0.233620,739.0,0,0,0,0,0.000000
24,133893,39,F,High School,Married,Less than $40k,32400.0,2021-12-31,25,8000.0,0.231030,739.0,0,0,0,0,0.000000
25,133893,40,F,High School,Married,Less than $40k,32400.0,2022-01-31,26,8000.0,0.239702,739.0,0,0,0,0,0.000000
26,133893,40,F,High School,Married,Less than $40k,32400.0,2022-02-28,27,8000.0,0.175955,741.0,0,0,0,0,0.000000
27,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-03-31,28,8000.0,0.139129,740.0,0,0,1,0,0.000000
28,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-04-30,29,8000.0,0.157445,740.0,0,0,1,0,0.000000
29,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-05-31,30,8000.0,0.184944,740.0,0,0,1,0,0.000000
30,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-06-30,31,8000.0,0.204750,740.0,0,0,1,0,0.000000
31,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-07-31,32,8000.0,0.216944,740.0,0,0,1,0,1475.217824
32,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-08-31,33,8000.0,0.567120,706.0,0,0,1,1,3856.417300
33,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-09-30,34,8000.0,0.644887,688.0,0,0,1,2,4385.231920
34,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-10-31,35,8000.0,0.711868,670.0,0,0,1,3,4840.701446
35,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-11-30,36,8000.0,0.778059,660.0,0,0,1,4,4840.701446
36,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-12-31,37,8000.0,0.845790,642.0,0,0,1,5,4840.701446
37,133893,41,F,High School,Divorced,Less than $40k,32400.0,2023-01-31,38,8000.0,0.915971,624.0,0,0,1,6,4840.701446
38,133893,41,F,High School,Divorced,Less than $40k,32400.0,2023-02-28,39,8000.0,0.987015,614.0,0,0,1,7,4840.701446

In [12]:
customerD['Total_Debt'] = customerD['Revolving_Bal']
customerD['Debt_to_Income_Ratio'] = np.where(
    customerD['Total_Debt'] > 0,
    1,
    0
)

In [13]:
interchange_fee_factor = 0.02
interest_rate_monthly = 24.61 / 100 / 12

# Calculate Interchange Fee for all rows initially
customerD['Interchange Fee'] = customerD.apply(
    lambda row: row['Utilization'] * row['Credit_Limit'] * interchange_fee_factor, axis=1
)

# Get the last 7 rows based on Snapshot Month ascending order
last_7_indices = customerD.sort_values(by='Snapshot Month').index[-7:]

# Update Interchange Fee for the last 7 rows
for i in range(1, len(last_7_indices)):
    current_index = last_7_indices[i]
    previous_index = last_7_indices[i - 1]
    
    # Calculate the Interchange Fee for last 7 rows based on revolving balance difference
    revolving_difference = customerD.loc[current_index, 'Revolving_Bal'] - customerD.loc[previous_index, 'Revolving_Bal'] - 30
    interchange_fee = revolving_difference / (1 + interest_rate_monthly) * interchange_fee_factor
    
    # Update the Interchange Fee for the current row
    customerD.at[current_index, 'Interchange Fee'] = max(interchange_fee,0)

customerD.loc[customerD['Delinquency'] > 3, 'Interchange Fee'] = 0


customerD['Late_Fee_Revenue'] = 0
customerD.loc[customerD['Delinquency'] > 0, 'Late_Fee_Revenue'] = 30
customerD.loc[customerD['Delinquency'] > 3, 'Late_Fee_Revenue'] = 0

customerD['Monthly_Interest_Revenue'] = customerD['Revolving_Bal'] * interest_rate_monthly
customerD.loc[customerD['Delinquency'] > 0, 'Monthly_Interest_Revenue'] = 0

customerD['Annual_Fee'] = np.where(
    customerD['Month on Book'] % 12 == 0,
    100,
    0
)

customerD['Total Revenue'] = customerD['Interchange Fee'] + customerD['Late_Fee_Revenue'] + customerD['Monthly_Interest_Revenue'] + customerD['Annual_Fee'] 

customerD.head(100)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit,...,Credit_Inquiries,Delinquency,Revolving_Bal,Total_Debt,Debt_to_Income_Ratio,Interchange Fee,Late_Fee_Revenue,Monthly_Interest_Revenue,Annual_Fee,Total Revenue
0,133893,37,F,High School,Married,Less than $40k,32400.0,2019-12-31,1,8000.0,...,1,0,0.000000,0.000000,0,35.375363,0,0.000000,0,35.375363
1,133893,38,F,High School,Married,Less than $40k,32400.0,2020-01-31,2,8000.0,...,1,0,0.000000,0.000000,0,29.614647,0,0.000000,0,29.614647
2,133893,38,F,High School,Married,Less than $40k,32400.0,2020-02-29,3,8000.0,...,1,0,0.000000,0.000000,0,39.411936,0,0.000000,0,39.411936
3,133893,38,F,High School,Married,Less than $40k,32400.0,2020-03-31,4,8000.0,...,1,0,0.000000,0.000000,0,36.398885,0,0.000000,0,36.398885
4,133893,38,F,High School,Married,Less than $40k,32400.0,2020-04-30,5,8000.0,...,1,0,0.000000,0.000000,0,29.888622,0,0.000000,0,29.888622
5,133893,38,F,High School,Married,Less than $40k,32400.0,2020-05-31,6,8000.0,...,1,0,0.000000,0.000000,0,39.937566,0,0.000000,0,39.937566
6,133893,38,F,High School,Married,Less than $40k,32400.0,2020-06-30,7,8000.0,...,1,0,0.000000,0.000000,0,31.542394,0,0.000000,0,31.542394
7,133893,38,F,High School,Married,Less than $40k,32400.0,2020-07-31,8,8000.0,...,1,0,0.000000,0.000000,0,39.179414,0,0.000000,0,39.179414
8,133893,38,F,High School,Married,Less than $40k,32400.0,2020-08-31,9,8000.0,...,1,0,0.000000,0.000000,0,31.355811,0,0.000000,0,31.355811
9,133893,38,F,High School,Married,Less than $40k,32400.0,2020-09-30,10,8000.0,...,1,0,0.000000,0.000000,0,37.128300,0,0.000000,0,37.128300
10,133893,38,F,High School,Married,Less than $40k,32400.0,2020-10-31,11,8000.0,...,1,0,0.000000,0.000000,0,31.784702,0,0.000000,0,31.784702
11,133893,38,F,High School,Married,Less than $40k,32400.0,2020-11-30,12,8000.0,...,1,0,0.000000,0.000000,0,29.172253,0,0.000000,100,129.172253
12,133893,38,F,High School,Married,Less than $40k,32400.0,2020-12-31,13,8000.0,...,0,0,0.000000,0.000000,0,31.036218,0,0.000000,0,31.036218
13,133893,39,F,High School,Married,Less than $40k,32400.0,2021-01-31,14,8000.0,...,0,0,0.000000,0.000000,0,28.186761,0,0.000000,0,28.186761
14,133893,39,F,High School,Married,Less than $40k,32400.0,2021-02-28,15,8000.0,...,0,0,0.000000,0.000000,0,32.264077,0,0.000000,0,32.264077
15,133893,39,F,High School,Married,Less than $40k,32400.0,2021-03-31,16,8000.0,...,0,0,0.000000,0.000000,0,30.456893,0,0.000000,0,30.456893
16,133893,39,F,High School,Married,Less than $40k,32400.0,2021-04-30,17,8000.0,...,0,0,0.000000,0.000000,0,36.672131,0,0.000000,0,36.672131
17,133893,39,F,High School,Married,Less than $40k,32400.0,2021-05-31,18,8000.0,...,0,0,0.000000,0.000000,0,29.761842,0,0.000000,0,29.761842
18,133893,39,F,High School,Married,Less than $40k,32400.0,2021-06-30,19,8000.0,...,0,0,0.000000,0.000000,0,35.568686,0,0.000000,0,35.568686
19,133893,39,F,High School,Married,Less than $40k,32400.0,2021-07-31,20,8000.0,...,0,0,0.000000,0.000000,0,36.389129,0,0.000000,0,36.389129
20,133893,39,F,High School,Married,Less than $40k,32400.0,2021-08-31,21,8000.0,...,0,0,0.000000,0.000000,0,27.943269,0,0.000000,0,27.943269
21,133893,39,F,High School,Married,Less than $40k,32400.0,2021-09-30,22,8000.0,...,0,0,0.000000,0.000000,0,34.366151,0,0.000000,0,34.366151
22,133893,39,F,High School,Married,Less than $40k,32400.0,2021-10-31,23,8000.0,...,0,0,0.000000,0.000000,0,29.915770,0,0.000000,0,29.915770
23,133893,39,F,High School,Married,Less than $40k,32400.0,2021-11-30,24,8000.0,...,0,0,0.000000,0.000000,0,37.379207,0,0.000000,100,137.379207
24,133893,39,F,High School,Married,Less than $40k,32400.0,2021-12-31,25,8000.0,...,0,0,0.000000,0.000000,0,36.964804,0,0.000000,0,36.964804
25,133893,40,F,High School,Married,Less than $40k,32400.0,2022-01-31,26,8000.0,...,0,0,0.000000,0.000000,0,38.352377,0,0.000000,0,38.352377
26,133893,40,F,High School,Married,Less than $40k,32400.0,2022-02-28,27,8000.0,...,0,0,0.000000,0.000000,0,28.152785,0,0.000000,0,28.152785
27,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-03-31,28,8000.0,...,1,0,0.000000,0.000000,0,22.260673,0,0.000000,0,22.260673
28,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-04-30,29,8000.0,...,1,0,0.000000,0.000000,0,25.191262,0,0.000000,0,25.191262
29,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-05-31,30,8000.0,...,1,0,0.000000,0.000000,0,29.590989,0,0.000000,0,29.590989
30,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-06-30,31,8000.0,...,1,0,0.000000,0.000000,0,32.759956,0,0.000000,0,32.759956
31,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-07-31,32,8000.0,...,1,0,1475.217824,1475.217824,1,34.711008,0,30.254259,0,64.965266
32,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-08-31,33,8000.0,...,1,1,3856.417300,3856.417300,1,90.739231,30,0.000000,0,120.739231
33,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-09-30,34,8000.0,...,1,2,4385.231920,4385.231920,1,9.775807,30,0.000000,0,39.775807
34,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-10-31,35,8000.0,...,1,3,4840.701446,4840.701446,1,8.338384,30,0.000000,0,38.338384
35,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-11-30,36,8000.0,...,1,4,4840.701446,4840.701446,1,0.000000,0,0.000000,100,100.000000
36,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-12-31,37,8000.0,...,1,5,4840.701446,4840.701446,1,0.000000,0,0.000000,0,0.000000
37,133893,41,F,High School,Divorced,Less than $40k,32400.0,2023-01-31,38,8000.0,...,1,6,4840.701446,4840.701446,1,0.000000,0,0.000000,0,0.000000
38,133893,41,F,High School,Divorced,Less than $40k,32400.0,2023-02-28,39,8000.0,...,1,7,4840.701446,4840.701446,1,0.000000,0,0.000000,0,0.000000

In [14]:
weight_utilization = 0.05
delinquency_weights = {
    0: 0.05,
    1: 0.15,
    2: 0.4,
    3: 0.65,
    4: 0.72,
    5: 0.8,
    6: 0.84,
    7: 0.86
}
customerD['Delinquency_Weight'] = customerD['Delinquency'].map(delinquency_weights).fillna(0) 
# weight_debt_income_ratio = 0.5

# Normalize each factor (optional) and calculate ECL
customerD['ECL Ratio'] = customerD.apply(
    lambda x: min(
        weight_utilization * x['Utilization'] + x['Delinquency_Weight'], 
        0.9
    ),
    axis=1
)

customerD['ECL'] = customerD['ECL Ratio'] * customerD['Credit_Limit']  * customerD['Utilization'] 

customerD.head(100)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit,...,Total_Debt,Debt_to_Income_Ratio,Interchange Fee,Late_Fee_Revenue,Monthly_Interest_Revenue,Annual_Fee,Total Revenue,Delinquency_Weight,ECL Ratio,ECL
0,133893,37,F,High School,Married,Less than $40k,32400.0,2019-12-31,1,8000.0,...,0.000000,0,35.375363,0,0.000000,0,35.375363,0.05,0.061055,107.991786
1,133893,38,F,High School,Married,Less than $40k,32400.0,2020-01-31,2,8000.0,...,0.000000,0,29.614647,0,0.000000,0,29.614647,0.05,0.059255,87.740170
2,133893,38,F,High School,Married,Less than $40k,32400.0,2020-02-29,3,8000.0,...,0.000000,0,39.411936,0,0.000000,0,39.411936,0.05,0.062316,122.800163
3,133893,38,F,High School,Married,Less than $40k,32400.0,2020-03-31,4,8000.0,...,0.000000,0,36.398885,0,0.000000,0,36.398885,0.05,0.061375,111.698445
4,133893,38,F,High School,Married,Less than $40k,32400.0,2020-04-30,5,8000.0,...,0.000000,0,29.888622,0,0.000000,0,29.888622,0.05,0.059340,88.679830
5,133893,38,F,High School,Married,Less than $40k,32400.0,2020-05-31,6,8000.0,...,0.000000,0,39.937566,0,0.000000,0,39.937566,0.05,0.062480,124.765935
6,133893,38,F,High School,Married,Less than $40k,32400.0,2020-06-30,7,8000.0,...,0.000000,0,31.542394,0,0.000000,0,31.542394,0.05,0.059857,94.401651
7,133893,38,F,High School,Married,Less than $40k,32400.0,2020-07-31,8,8000.0,...,0.000000,0,39.179414,0,0.000000,0,39.179414,0.05,0.062244,121.933324
8,133893,38,F,High School,Married,Less than $40k,32400.0,2020-08-31,9,8000.0,...,0.000000,0,31.355811,0,0.000000,0,31.355811,0.05,0.059799,93.751823
9,133893,38,F,High School,Married,Less than $40k,32400.0,2020-09-30,10,8000.0,...,0.000000,0,37.128300,0,0.000000,0,37.128300,0.05,0.061603,114.359978
10,133893,38,F,High School,Married,Less than $40k,32400.0,2020-10-31,11,8000.0,...,0.000000,0,31.784702,0,0.000000,0,31.784702,0.05,0.059933,95.247182
11,133893,38,F,High School,Married,Less than $40k,32400.0,2020-11-30,12,8000.0,...,0.000000,0,29.172253,0,0.000000,100,129.172253,0.05,0.059116,86.227826
12,133893,38,F,High School,Married,Less than $40k,32400.0,2020-12-31,13,8000.0,...,0.000000,0,31.036218,0,0.000000,0,31.036218,0.05,0.059699,92.641278
13,133893,39,F,High School,Married,Less than $40k,32400.0,2021-01-31,14,8000.0,...,0.000000,0,28.186761,0,0.000000,0,28.186761,0.05,0.058808,82.880865
14,133893,39,F,High School,Married,Less than $40k,32400.0,2021-02-28,15,8000.0,...,0.000000,0,32.264077,0,0.000000,0,32.264077,0.05,0.060083,96.925361
15,133893,39,F,High School,Married,Less than $40k,32400.0,2021-03-31,16,8000.0,...,0.000000,0,30.456893,0,0.000000,0,30.456893,0.05,0.059518,90.636333
16,133893,39,F,High School,Married,Less than $40k,32400.0,2021-04-30,17,8000.0,...,0.000000,0,36.672131,0,0.000000,0,36.672131,0.05,0.061460,112.693533
17,133893,39,F,High School,Married,Less than $40k,32400.0,2021-05-31,18,8000.0,...,0.000000,0,29.761842,0,0.000000,0,29.761842,0.05,0.059301,88.244717
18,133893,39,F,High School,Married,Less than $40k,32400.0,2021-06-30,19,8000.0,...,0.000000,0,35.568686,0,0.000000,0,35.568686,0.05,0.061115,108.689395
19,133893,39,F,High School,Married,Less than $40k,32400.0,2021-07-31,20,8000.0,...,0.000000,0,36.389129,0,0.000000,0,36.389129,0.05,0.061372,111.662960
20,133893,39,F,High School,Married,Less than $40k,32400.0,2021-08-31,21,8000.0,...,0.000000,0,27.943269,0,0.000000,0,27.943269,0.05,0.058732,82.058582
21,133893,39,F,High School,Married,Less than $40k,32400.0,2021-09-30,22,8000.0,...,0.000000,0,34.366151,0,0.000000,0,34.366151,0.05,0.060739,104.369008
22,133893,39,F,High School,Married,Less than $40k,32400.0,2021-10-31,23,8000.0,...,0.000000,0,29.915770,0,0.000000,0,29.915770,0.05,0.059349,88.773070
23,133893,39,F,High School,Married,Less than $40k,32400.0,2021-11-30,24,8000.0,...,0.000000,0,37.379207,0,0.000000,100,137.379207,0.05,0.061681,115.279348
24,133893,39,F,High School,Married,Less than $40k,32400.0,2021-12-31,25,8000.0,...,0.000000,0,36.964804,0,0.000000,0,36.964804,0.05,0.061552,113.761960
25,133893,40,F,High School,Married,Less than $40k,32400.0,2022-01-31,26,8000.0,...,0.000000,0,38.352377,0,0.000000,0,38.352377,0.05,0.061985,118.863831
26,133893,40,F,High School,Married,Less than $40k,32400.0,2022-02-28,27,8000.0,...,0.000000,0,28.152785,0,0.000000,0,28.152785,0.05,0.058798,82.766014
27,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-03-31,28,8000.0,...,0.000000,0,22.260673,0,0.000000,0,22.260673,0.05,0.056956,63.394456
28,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-04-30,29,8000.0,...,0.000000,0,25.191262,0,0.000000,0,25.191262,0.05,0.057872,72.893777
29,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-05-31,30,8000.0,...,0.000000,0,29.590989,0,0.000000,0,29.590989,0.05,0.059247,87.659138
30,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-06-30,31,8000.0,...,0.000000,0,32.759956,0,0.000000,0,32.759956,0.05,0.060237,98.668871
31,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-07-31,32,8000.0,...,1475.217824,1,34.711008,0,30.254259,0,64.965266,0.05,0.060847,105.603364
32,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-08-31,33,8000.0,...,3856.417300,1,90.739231,30,0.000000,0,120.739231,0.15,0.178356,809.194354
33,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-09-30,34,8000.0,...,4385.231920,1,9.775807,30,0.000000,0,39.775807,0.40,0.432244,2229.990272
34,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-10-31,35,8000.0,...,4840.701446,1,8.338384,30,0.000000,0,38.338384,0.65,0.685593,3904.415211
35,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-11-30,36,8000.0,...,4840.701446,1,0.000000,0,0.000000,100,100.000000,0.72,0.758903,4723.770132
36,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-12-31,37,8000.0,...,4840.701446,1,0.000000,0,0.000000,0,0.000000,0.80,0.842289,5699.198749
37,133893,41,F,High School,Divorced,Less than $40k,32400.0,2023-01-31,38,8000.0,...,4840.701446,1,0.000000,0,0.000000,0,0.000000,0.84,0.885799,6490.924650
38,133893,41,F,High School,Divorced,Less than $40k,32400.0,2023-02-28,39,8000.0,...,4840.701446,1,0.000000,0,0.000000,0,0.000000,0.86,0.900000,7106.509710

In [15]:
# Calculate the month-over-month ECL charge
customerD['ECL MoM Charge'] = customerD['ECL'].diff()
customerD.loc[0, 'ECL MoM Charge'] = customerD.loc[0, 'ECL']  # Set the first value to the first ECL

# Calculate Profit and cumulative metrics
customerD['Profit'] = customerD['Total Revenue'] - customerD['ECL MoM Charge']
customerD['Cumulative Profit'] = customerD['Profit'].cumsum()

# Calculate the month-over-month change in Cumulative Profit
customerD['MoM Cumulative Profit Change'] = customerD['Cumulative Profit'].diff()
customerD.loc[0, 'MoM Cumulative Profit Change'] = customerD.loc[0, 'Cumulative Profit']  # Set the first value

In [16]:

customerD.head(100)

,Customer ID,Customer Age,Gender,Education,Marital Status,Income Category,Income Numeric,Snapshot Month,Month on Book,Credit_Limit,...,Monthly_Interest_Revenue,Annual_Fee,Total Revenue,Delinquency_Weight,ECL Ratio,ECL,ECL MoM Charge,Profit,Cumulative Profit,MoM Cumulative Profit Change
0,133893,37,F,High School,Married,Less than $40k,32400.0,2019-12-31,1,8000.0,...,0.000000,0,35.375363,0.05,0.061055,107.991786,107.991786,-72.616424,-72.616424,-72.616424
1,133893,38,F,High School,Married,Less than $40k,32400.0,2020-01-31,2,8000.0,...,0.000000,0,29.614647,0.05,0.059255,87.740170,-20.251616,49.866263,-22.750160,49.866263
2,133893,38,F,High School,Married,Less than $40k,32400.0,2020-02-29,3,8000.0,...,0.000000,0,39.411936,0.05,0.062316,122.800163,35.059993,4.351943,-18.398217,4.351943
3,133893,38,F,High School,Married,Less than $40k,32400.0,2020-03-31,4,8000.0,...,0.000000,0,36.398885,0.05,0.061375,111.698445,-11.101718,47.500603,29.102386,47.500603
4,133893,38,F,High School,Married,Less than $40k,32400.0,2020-04-30,5,8000.0,...,0.000000,0,29.888622,0.05,0.059340,88.679830,-23.018615,52.907236,82.009622,52.907236
5,133893,38,F,High School,Married,Less than $40k,32400.0,2020-05-31,6,8000.0,...,0.000000,0,39.937566,0.05,0.062480,124.765935,36.086105,3.851462,85.861084,3.851462
6,133893,38,F,High School,Married,Less than $40k,32400.0,2020-06-30,7,8000.0,...,0.000000,0,31.542394,0.05,0.059857,94.401651,-30.364284,61.906678,147.767762,61.906678
7,133893,38,F,High School,Married,Less than $40k,32400.0,2020-07-31,8,8000.0,...,0.000000,0,39.179414,0.05,0.062244,121.933324,27.531673,11.647741,159.415503,11.647741
8,133893,38,F,High School,Married,Less than $40k,32400.0,2020-08-31,9,8000.0,...,0.000000,0,31.355811,0.05,0.059799,93.751823,-28.181501,59.537312,218.952816,59.537312
9,133893,38,F,High School,Married,Less than $40k,32400.0,2020-09-30,10,8000.0,...,0.000000,0,37.128300,0.05,0.061603,114.359978,20.608156,16.520144,235.472960,16.520144
10,133893,38,F,High School,Married,Less than $40k,32400.0,2020-10-31,11,8000.0,...,0.000000,0,31.784702,0.05,0.059933,95.247182,-19.112796,50.897499,286.370458,50.897499
11,133893,38,F,High School,Married,Less than $40k,32400.0,2020-11-30,12,8000.0,...,0.000000,100,129.172253,0.05,0.059116,86.227826,-9.019356,138.191609,424.562068,138.191609
12,133893,38,F,High School,Married,Less than $40k,32400.0,2020-12-31,13,8000.0,...,0.000000,0,31.036218,0.05,0.059699,92.641278,6.413452,24.622766,449.184834,24.622766
13,133893,39,F,High School,Married,Less than $40k,32400.0,2021-01-31,14,8000.0,...,0.000000,0,28.186761,0.05,0.058808,82.880865,-9.760413,37.947175,487.132009,37.947175
14,133893,39,F,High School,Married,Less than $40k,32400.0,2021-02-28,15,8000.0,...,0.000000,0,32.264077,0.05,0.060083,96.925361,14.044496,18.219581,505.351590,18.219581
15,133893,39,F,High School,Married,Less than $40k,32400.0,2021-03-31,16,8000.0,...,0.000000,0,30.456893,0.05,0.059518,90.636333,-6.289028,36.745922,542.097512,36.745922
16,133893,39,F,High School,Married,Less than $40k,32400.0,2021-04-30,17,8000.0,...,0.000000,0,36.672131,0.05,0.061460,112.693533,22.057200,14.614930,556.712442,14.614930
17,133893,39,F,High School,Married,Less than $40k,32400.0,2021-05-31,18,8000.0,...,0.000000,0,29.761842,0.05,0.059301,88.244717,-24.448816,54.210657,610.923099,54.210657
18,133893,39,F,High School,Married,Less than $40k,32400.0,2021-06-30,19,8000.0,...,0.000000,0,35.568686,0.05,0.061115,108.689395,20.444678,15.124009,626.047108,15.124009
19,133893,39,F,High School,Married,Less than $40k,32400.0,2021-07-31,20,8000.0,...,0.000000,0,36.389129,0.05,0.061372,111.662960,2.973565,33.415564,659.462672,33.415564
20,133893,39,F,High School,Married,Less than $40k,32400.0,2021-08-31,21,8000.0,...,0.000000,0,27.943269,0.05,0.058732,82.058582,-29.604378,57.547647,717.010319,57.547647
21,133893,39,F,High School,Married,Less than $40k,32400.0,2021-09-30,22,8000.0,...,0.000000,0,34.366151,0.05,0.060739,104.369008,22.310427,12.055724,729.066044,12.055724
22,133893,39,F,High School,Married,Less than $40k,32400.0,2021-10-31,23,8000.0,...,0.000000,0,29.915770,0.05,0.059349,88.773070,-15.595939,45.511709,774.577752,45.511709
23,133893,39,F,High School,Married,Less than $40k,32400.0,2021-11-30,24,8000.0,...,0.000000,100,137.379207,0.05,0.061681,115.279348,26.506279,110.872929,885.450681,110.872929
24,133893,39,F,High School,Married,Less than $40k,32400.0,2021-12-31,25,8000.0,...,0.000000,0,36.964804,0.05,0.061552,113.761960,-1.517388,38.482192,923.932873,38.482192
25,133893,40,F,High School,Married,Less than $40k,32400.0,2022-01-31,26,8000.0,...,0.000000,0,38.352377,0.05,0.061985,118.863831,5.101871,33.250506,957.183379,33.250506
26,133893,40,F,High School,Married,Less than $40k,32400.0,2022-02-28,27,8000.0,...,0.000000,0,28.152785,0.05,0.058798,82.766014,-36.097817,64.250602,1021.433982,64.250602
27,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-03-31,28,8000.0,...,0.000000,0,22.260673,0.05,0.056956,63.394456,-19.371558,41.632231,1063.066213,41.632231
28,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-04-30,29,8000.0,...,0.000000,0,25.191262,0.05,0.057872,72.893777,9.499321,15.691941,1078.758154,15.691941
29,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-05-31,30,8000.0,...,0.000000,0,29.590989,0.05,0.059247,87.659138,14.765362,14.825627,1093.583781,14.825627
30,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-06-30,31,8000.0,...,0.000000,0,32.759956,0.05,0.060237,98.668871,11.009733,21.750223,1115.334005,21.750223
31,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-07-31,32,8000.0,...,30.254259,0,64.965266,0.05,0.060847,105.603364,6.934493,58.030774,1173.364779,58.030774
32,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-08-31,33,8000.0,...,0.000000,0,120.739231,0.15,0.178356,809.194354,703.590990,-582.851760,590.513019,-582.851760
33,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-09-30,34,8000.0,...,0.000000,0,39.775807,0.40,0.432244,2229.990272,1420.795918,-1381.020111,-790.507092,-1381.020111
34,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-10-31,35,8000.0,...,0.000000,0,38.338384,0.65,0.685593,3904.415211,1674.424938,-1636.086554,-2426.593647,-1636.086554
35,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-11-30,36,8000.0,...,0.000000,100,100.000000,0.72,0.758903,4723.770132,819.354922,-719.354922,-3145.948568,-719.354922
36,133893,40,F,High School,Divorced,Less than $40k,32400.0,2022-12-31,37,8000.0,...,0.000000,0,0.000000,0.80,0.842289,5699.198749,975.428616,-975.428616,-4121.377185,-975.428616
37,133893,41,F,High School,Divorced,Less than $40k,32400.0,2023-01-31,38,8000.0,...,0.000000,0,0.000000,0.84,0.885799,6490.924650,791.725901,-791.725901,-4913.103086,-791.725901
38,133893,41,F,High School,Divorced,Less than $40k,32400.0,2023-02-28,39,8000.0,...,0.000000,0,0.000000,0.86,0.900000,7106.509710,615.585060,-615.585060,-5528.688146,-615.585060

In [17]:
customerD.to_csv('customerD.csv')